/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeGray .EvtHdrLftCol {
width:33%;
float:left;
min-height:1px;
}

.ThemeGray .EvtHdrMdlCol {
width:34%;
float:left;
min-height:1px;
text-align:center;
}

.ThemeGray .EvtHdrRgtCol {
width:33%;
float:left;
}

.ThemeGray .Eventtooltipheader, .ThemeGray .Eventtooltipbody {
width:300px;
z-index:99;
font-size:10px;
font-family:arial;
padding:5px
}

.ThemeGray .Eventtooltipheader {
border:#e5dfdf 1px solid;
background-color:#e5dfdf;
color:#000;
font-weight:700;
font-size:11px
}

.ThemeGray .Eventtooltipbody {
border-left:#e5dfdf 1px solid;
border-right:#e5dfdf 1px solid;
border-bottom:#e5dfdf 1px solid;
background-color:#fff
}

.ThemeGray .Eventtooltipbody hr {
width:100%;
color:#e5dfdf;
background-color:#e5dfdf;
height:1px;
border:0
}

.ThemeGray .Event {
table-layout:auto;
font-size:9px;
color:#FFF;
font-family:verdana;
height:400px;
width:75%;
text-align:center;
border:#e5dfdf 1px solid;
background-color:#EFE7E7;
white-space:normal;
line-height:1.3em
}

.ThemeGray .EventTitle {
font-weight:700;
font-size:14px;
background-image:url(gradient_Gray.jpg);
width:100%;
color:#fff;
text-align:center;
height:32px
}

.ThemeGray .EventTitle,.ThemeGray .EventTitle td {
font-weight:700;
font-size:14px;
width:100%;
color:#FFF;
text-align:center;
background-image:url(gradient_Gray.jpg);
height:32px
}

.ThemeGray .EventNextPrev,.ThemeGray .EventNextPrev a:link,.ThemeGray .EventNextPrev,.ThemeGray .EventNextPrev a:visited {
font-size:10px;
color:#FFF;
padding:0 0.5em
}

.ThemeGray .EventNextPrev a:hover {
font-size:10px;
color:red;
padding:0 0.5em
}

.ThemeGray .EventDayHeader {
font-weight:700;
font-size:9px;
font-family:Verdana;
background-color:silver;
vertical-align:middle
}

.ThemeGray .EventDay,.ThemeGray .EventDayEvents,.ThemeGray .EventWeekendDayEvents,.ThemeGray .EventDay td,.ThemeGray .EventDay a,.ThemeGray .EventDay a:visited {
font-size:9px;
width:14%;
color:#000;
font-family:Verdana;
height:14%
}
.ThemeGray .EventDayEvents a,.ThemeGray .EventDayEvents a:visited,.ThemeGray .EventDayEvents a:hover, .ThemeGray .EventWeekendDayEvents a,.ThemeGray .EventWeekendDayEvents a:visited,.ThemeGray .EventWeekendDayEvents a:hover  {
font-size:9px;
color:blue;
font-family:Verdana
}
.ThemeGray .EventWeekendDayEvents {
background-color: #dcdcdc;
}

.ThemeGray .EventDay a,.ThemeGray .EventDay a:visited {
font-size:9px;
color:#000;
font-family:Verdana
}

.ThemeGray .EventDay a:hover {
font-size:9px;
color:red;
font-family:Verdana
}

.ThemeGray .EventDayScroll div {
margin-bottom:0.6em
}

.ThemeGray .EventOtherMonthDay {
color:gray;
background-color:#dcdcdc
}

.ThemeGray .EventOtherMonthDay a,.ThemeGray .EventOtherMonthDay a:visited,.ThemeGray .EventOtherMonthDay a:hover {
color:#8080c0
}

.ThemeGray .EventWeekendDay {
background-color:#dcdcdc
}

.ThemeGray .EventTodayDay {
font-weight:700;
color:#00f;
background-color:#a9a9a9
}

.ThemeGray .EventSelectedDay {
border:red 2px solid;
}
.ThemeGray .EventSelectedDay, .ThemeGray .EventSelectedDay a, .ThemeGray .EventSelectedDay a:visited, .ThemeGray .EventSelectedDay a:hover  {
font-size:9px
}

.ThemeGray .EventSelector {
background-color:#c0c0e0
}

.ThemeGray .EventSelector a,.ThemeGray .EventSelector a:visited,.ThemeGray .EventSelector a:hover {
color:#00f;
text-decoration:none
}

.ThemeGray .WeekTable table {
table-layout:auto;
font-size:9px;
color:#000;
font-family:Verdana;
text-align:center;
border:#e5dfdf 1px solid
}

.ThemeGray .WeekItem {
border:transparent 1px solid;
background-color:#ddd1d1
}

.ThemeGray .WeekTable table td,.ThemeGray .WeekTable table th {
border:0;
padding:0 2px
}

.ThemeGray .WeekDay {
font-weight:700;
font-size:9px;
color:#000;
font-family:verdana,helvetica,arial;
background-color:#000;
text-align:center;
vertical-align:middle;
border:transparent 1px solid
}

.ThemeGray .WeekBackground {
font-family:verdana,helvetica,arial;
background-color:#efe7e7;
font-size:9px;
color:#000;
border:transparent 1px solid
}

.ThemeGray .WeekTitle {
font-family:verdana,helvetica,arial;
font-size:9px;
color:#fff;
height:15%;
text-align:center;
background-image:url(gradient_Gray.jpg);
width:11%;
border:transparent 1px solid
}

.ThemeGray .WeekOfTitle {
font-weight:700;
font-size:10px;
width:100%;
color:#000;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:middle
}

.ThemeGray .WeekNextPrev {
font-weight:700;
font-family:verdana,helvetica,arial;
font-size:10px;
width:100%;
color:#fff;
text-align:center;
vertical-align:middle
}

.ThemeGray .WeekRangeheader {
color:#000;
text-align:center;
vertical-align:middle;
font-family:verdana,helvetica,arial;
font-size:9px;
background-color:#E5DFDF;
border:none
}

.ThemeGray .ListTable {
width:300px
}

.ThemeGray A.ListTitle:hover {
font-size:9px;
vertical-align:top;
color:red;
font-family:verdana,helvetica,arial;
background-color:transparent;
text-align:left;
text-decoration:underline
}

.ThemeGray .ListLink {
font-weight:700;
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:left;
vertical-align:top;
background-color:transparent;
color:#000
}

.ThemeGray .ListHeader, .ThemeGray .DetailEnrollGridHeader, .ThemeGray .DetailEnrollGridHeader TD, .ThemeGray .EditEnrollGridHeader, .ThemeGray .EditEnrollGridHeader TD, .ThemeGray .EnrollGridHeader, .ThemeGray .EnrollGridHeader TD {
font-weight:700;
font-size:9px;
background-image:url(gradient_Gray.jpg);
color:Silver;
font-family:verdana,helvetica,arial;
height:32px;
text-align:left;
width:300px;
vertical-align:middle
}

.ThemeGray .DetailEnrollGridHeader, .ThemeGray .DetailEnrollGridHeader TD, .ThemeGray .EditEnrollGridHeader, .ThemeGray .EditEnrollGridHeader TD, .ThemeGray .EnrollGridHeader, .ThemeGray .EnrollGridHeader TD {
text-align:center;
font-size:12px;
}

.ThemeGray .DetailEnrollUser, .ThemeGray .DetailEnrollDisplay,  .ThemeGray .DetailEnrollDisplay a:link, .ThemeGray .DetailEnrollEmail, .ThemeGray .DetailEnrollEmail a:link, .ThemeGray .DetailEnrollPhone, .ThemeGray .DetailEnrollApproved, .ThemeGray .DetailEnrollNo, .ThemeGray .EditEnrollSelect, .ThemeGray .EditEnrollUser, .ThemeGray .EditEnrollDisplay,  .ThemeGray .EditEnrollDisplay a:link, .ThemeGray .EditEnrollEmail, .ThemeGray .EditEnrollEmail a:link, .ThemeGray .EditEnrollPhone, .ThemeGray .EditEnrollApproved, .ThemeGray .EditEnrollNo, .ThemeGray .EditEnrollDate, .ThemeGray .EditEnrollDate .ThemeGray .EnrollSelect, .ThemeGray .EnrollApproved, .ThemeGray .EnrollNo, .ThemeGray .EnrollFee, .ThemeGray .EnrollDate  {
font-size:12px;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:top;
font-weight:normal;
}

.ThemeGray .ListHeader A {
color:#fff
}

.ThemeGray .ListPager TD {
font-size:9px;
font-family:verdana,helvetica,arial
}

.ThemeGray .ListDuration {
width:60px;
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:top;
background-color:transparent;
color:#000
}

.ThemeGray .ListCustomField2 {
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:left;
vertical-align:top;
color:#000
}

.ThemeGray .ListAlternate, .ThemeGray .DetailEnrollGridAlternate, .ThemeGray .EditEnrollGridAlternate, .ThemeGray .EnrollGridAlternate {
background-color:#F5F5F5
}

.ThemeGray .ListDataGrid, .ThemeGray .DetailEnrollGrid, .ThemeGray .EditEnrollGrid, .ThemeGray .EnrollGrid {
background-color:#EFE7E7;
border-style:none
}

.ThemeGray .ListDataGrid td, .ThemeGray .DetailEnrollGrid td, .ThemeGray .EditEnrollGrid td, .ThemeGray .EnrollGrid td {
border-style:none
}

.ThemeGray .ListEdit {
width:10px;
text-align:center;
vertical-align:top;
background-color:transparent;
color:#000
}

.ThemeGray .ListDate,.ThemeGray .ListTitle,.ThemeGray .ListDescription,.ThemeGray .ListCategory,.ThemeGray .ListLocation,.ThemeGray .ListLocation a,.ThemeGray .ListCustomField1, .ThemeGray .ListRecurText, .ThemeGray .ListRecurUntil, .ThemeGray .EnrollTitle {
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:left;
vertical-align:top;
background-color:transparent;
color:#000
}

.ThemeGray .RptTable {
    background-color:#EFE7E7;
    border-style:none;
    border-collapse:collapse;
    width:100%;
}

.ThemeGray .RptRepeater  {
    width:100%;
}

.ThemeGray .RptRepeater td  {
    border-style:none;
}

.ThemeGray .RptHeader {
    font-weight:700;
    font-size:9px;
    background-image:url(gradient_Gray.jpg);
    color:Silver;
    font-family:verdana,helvetica,arial;
    height:32px;
    text-align:center;
    width:300px;
    vertical-align:middle;
    width:100%;
}

.ThemeGray .RptNormal {
    font-size:9px;
    font-family:verdana,helvetica,arial;
    text-align:left;
    vertical-align:top;
    background-color:transparent;
    color:#000;
}

.ThemeGray .RptAlternate {
    background-color:#F5F5F5;
    font-size:9px;
    font-family:verdana,helvetica,arial;
    text-align:left;
    vertical-align:top;
    color:#000;
}

.ThemeGray .RptPagerCurrentPage {
    color: Red;
}

.ThemeGray .RptPagerHeader td {
    border-style:none;
}

.ThemeGray .DetailReminderDiv, .ThemeGray .DetailiCalDiv , 
.ThemeGray .DetailEnrollDiv, .ThemeGray .DetailEnrollTableDiv,
.ThemeGray .DetailCommands,
.ThemeGray .DetailEventDetailsDiv1,
.ThemeGray .DetailEventDetailsDiv2,
.ThemeGray .DetailEventDetailsDiv3,
.ThemeGray .DetailEventDetailsDiv4  {
width:90%;
padding-left: 5px;
}

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailReminderRight, 
.ThemeGray .DetailiCalLeft, .ThemeGray .DetailiCalRight,
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailEnrollRight,
.ThemeGray .DetailContentLeft, .ThemeGray .DetailContentRight {
text-align:left;
float:left;
}

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailReminderRight, 
.ThemeGray .DetailiCalLeft, .ThemeGray .DetailiCalRight,
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailEnrollRight,
.ThemeGray .DetailEnrollTableLeft, .ThemeGray .DetailEnrollTableRight,
.ThemeGray .DetailContentLeft, .ThemeGray .DetailContentRight {
padding:5px 0 5px 0;
}

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailiCalLeft, 
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailContentLeft {
width:35%;
}

.ThemeGray .DetailClear {
clear:both;
}

.ThemeGray .IconBar {
white-space:nowrap;
}

.ThemeGray  .IconBar img, .ThemeGray  .IconBar input{
	vertical-align:baseline;
}

.ThemeGray .TopIconBar {
width:33%;
vertical-align:top;
}

.ThemeGray .TopIconBar DIV {
float:right;
}

.ThemeGray .BottomIconBar {
padding-top:3px;
}

.ThemeGray .IconBarPadding  {
padding-right:2px;
}

.ThemeGray .EditEvents .TimePicker, .ThemeGray .EditEvents .DatePicker {
Display:inline !important;
float:left;
margin-bottom:10px;
}

.ThemeGray .EditEvents .DatePicker {
width:150px !important;
}

.ThemeGray .EditEvents .cmdDatePicker {
    margin-top: 5px;
}

.ThemeGray .EvtHdrMdlCol .DatePicker {
Display:inline-block;
}

.ThemeGray .EvtDateControls {
margin-bottom:5px;
}

.ThemeGray .RadPicker_Default .riTextBox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 20px;
}

.ThemeGray .SelCategoryTR {
height:35px;
}

.ThemeGray  .SelCategoryTR div{
vertical-align:middle;
}

.ThemeGray  .SelCategory span{
font-weight:bold;
}

html body .ThemeGray .RadInput_Default .riTextBox.DateFormat,
.ThemeGray .RadComboBox_Default .rcbInput.CategoryFormat {
font-size:11px;
font-family:verdana,helvetica,arial;
}

.ThemeGray .RadComboBox_Default.SelectCategory {
width: 150px !important;
}

.ThemeGray ul.dnnActions li.cmdRight {
float:right;
}

.ThemeGray .EventSettings .dnnFormItem INPUT[type='text'] {
min-width:1px;
}

.ThemeGray .dnnFormItem .autoWidth LABEL {
width:auto;
}

.ThemeGray .dnnFormItem .inputCenter INPUT {
float:none;
}

.ThemeGray .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeGray .EditEvents .dnnFormItem .evtRecWeekDays input {
float:none;
width:auto;
display:inline;
}
.ThemeGray .EditEvents .evtShortInputFloat {
float:none;
min-width:1%;
width:31px;
}

.ThemeGray .EditEvents .evtShortInput {
min-width:1%;
width:31px;
}

.ThemeGray .EditEvents .evtGridInput {
float:none;
}

.ThemeGray .EditEvents .SubHead {
font-size:inherit;
}

.ThemeGray .EditEvents .evtRadioTop .dnnRadiobutton {
vertical-align:top;
}

.ThemeGray .EditEvents .dnnForm.dnnTextEditor {
float:left;
width:auto;
}