/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeGray .EvtHdrLftCol {
    float: left;
    min-height: 1px;
    width: 33%;
}

.ThemeGray .EvtHdrMdlCol {
    float: left;
    min-height: 1px;
    text-align: center;
    width: 34%;
}

.ThemeGray .EvtHdrRgtCol {
    float: left;
    width: 33%;
}

.ThemeGray .Eventtooltipheader, .ThemeGray .Eventtooltipbody {
    font-family: arial;
    font-size: 10px;
    padding: 5px;
    width: 300px;
    z-index: 99;
}

.ThemeGray .Eventtooltipheader {
    background-color: #e5dfdf;
    border: #e5dfdf 1px solid;
    color: #000;
    font-size: 11px;
    font-weight: 700;
}

.ThemeGray .Eventtooltipbody {
    background-color: #fff;
    border-bottom: #e5dfdf 1px solid;
    border-left: #e5dfdf 1px solid;
    border-right: #e5dfdf 1px solid;
}

.ThemeGray .Eventtooltipbody hr {
    background-color: #e5dfdf;
    border: 0;
    color: #e5dfdf;
    height: 1px;
    width: 100%;
}

.ThemeGray .Event {
    background-color: #EFE7E7;
    border: #e5dfdf 1px solid;
    color: #FFF;
    font-family: verdana;
    font-size: 9px;
    height: 400px;
    line-height: 1.3em;
    table-layout: auto;
    text-align: center;
    white-space: normal;
    width: 75%;
}

.ThemeGray .EventTitle {
    background-image: url(gradient_Gray.jpg);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    width: 100%;
}

.ThemeGray .EventTitle, .ThemeGray .EventTitle td {
    background-image: url(gradient_Gray.jpg);
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    width: 100%;
}

.ThemeGray .EventNextPrev, .ThemeGray .EventNextPrev a:link, .ThemeGray .EventNextPrev, .ThemeGray .EventNextPrev a:visited {
    color: #FFF;
    font-size: 10px;
    padding: 0 0.5em
}

.ThemeGray .EventNextPrev a:hover {
    color: red;
    font-size: 10px;
    padding: 0 0.5em
}

.ThemeGray .EventDayHeader {
    background-color: silver;
    font-family: Verdana;
    font-size: 9px;
    font-weight: 700;
    vertical-align: middle
}

.ThemeGray .EventDay, .ThemeGray .EventDayEvents, .ThemeGray .EventWeekendDayEvents, .ThemeGray .EventDay td, .ThemeGray .EventDay a, .ThemeGray .EventDay a:visited {
    color: #000;
    font-family: Verdana;
    font-size: 9px;
    height: 14%;
    width: 14%;
}

.ThemeGray .EventDayEvents a, .ThemeGray .EventDayEvents a:visited, .ThemeGray .EventDayEvents a:hover, .ThemeGray .EventWeekendDayEvents a, .ThemeGray .EventWeekendDayEvents a:visited, .ThemeGray .EventWeekendDayEvents a:hover {
    color: blue;
    font-family: Verdana;
    font-size: 9px;
}

.ThemeGray .EventWeekendDayEvents { background-color: #dcdcdc; }

.ThemeGray .EventDay a, .ThemeGray .EventDay a:visited {
    color: #000;
    font-family: Verdana;
    font-size: 9px;
}

.ThemeGray .EventDay a:hover {
    color: red;
    font-family: Verdana;
    font-size: 9px;
}

.ThemeGray .EventDayScroll div { margin-bottom: 0.6em }

.ThemeGray .EventOtherMonthDay {
    background-color: #dcdcdc;
    color: gray;
}

.ThemeGray .EventOtherMonthDay a, .ThemeGray .EventOtherMonthDay a:visited, .ThemeGray .EventOtherMonthDay a:hover { color: #8080c0 }

.ThemeGray .EventWeekendDay { background-color: #dcdcdc }

.ThemeGray .EventTodayDay {
    background-color: #a9a9a9;
    color: #00f;
    font-weight: 700;
}

.ThemeGray .EventSelectedDay { border: red 2px solid; }

.ThemeGray .EventSelectedDay, .ThemeGray .EventSelectedDay a, .ThemeGray .EventSelectedDay a:visited, .ThemeGray .EventSelectedDay a:hover { font-size: 9px }

.ThemeGray .EventSelector { background-color: #c0c0e0 }

.ThemeGray .EventSelector a, .ThemeGray .EventSelector a:visited, .ThemeGray .EventSelector a:hover {
    color: #00f;
    text-decoration: none
}

.ThemeGray .WeekTable table {
    border: #e5dfdf 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 9px;
    table-layout: auto;
    text-align: center;
}

.ThemeGray .WeekItem {
    background-color: #ddd1d1;
    border: transparent 1px solid;
}

.ThemeGray .WeekTable table td, .ThemeGray .WeekTable table th {
    border: 0;
    padding: 0 2px
}

.ThemeGray .WeekDay {
    background-color: #000;
    border: transparent 1px solid;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.ThemeGray .WeekBackground {
    background-color: #efe7e7;
    border: transparent 1px solid;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeGray .WeekTitle {
    background-image: url(gradient_Gray.jpg);
    border: transparent 1px solid;
    color: #fff;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    height: 15%;
    text-align: center;
    width: 11%;
}

.ThemeGray .WeekOfTitle {
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeGray .WeekNextPrev {
    color: #fff;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeGray .WeekRangeheader {
    background-color: #E5DFDF;
    border: none;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
}

.ThemeGray .ListTable { width: 300px }

.ThemeGray A.ListTitle:hover {
    background-color: transparent;
    color: red;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    text-decoration: underline;
    vertical-align: top;
}

.ThemeGray .ListLink {
    background-color: transparent;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.ThemeGray .ListHeader, .ThemeGray .DetailEnrollGridHeader, .ThemeGray .DetailEnrollGridHeader TD, .ThemeGray .EditEnrollGridHeader, .ThemeGray .EditEnrollGridHeader TD, .ThemeGray .EnrollGridHeader, .ThemeGray .EnrollGridHeader TD {
    background-image: url(gradient_Gray.jpg);
    color: Silver;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    height: 32px;
    text-align: left;
    vertical-align: middle;
    width: 300px;
}

.ThemeGray .DetailEnrollGridHeader, .ThemeGray .DetailEnrollGridHeader TD, .ThemeGray .EditEnrollGridHeader, .ThemeGray .EditEnrollGridHeader TD, .ThemeGray .EnrollGridHeader, .ThemeGray .EnrollGridHeader TD {
    font-size: 12px;
    text-align: center;
}

.ThemeGray .DetailEnrollUser, .ThemeGray .DetailEnrollDisplay, .ThemeGray .DetailEnrollDisplay a:link, .ThemeGray .DetailEnrollEmail, .ThemeGray .DetailEnrollEmail a:link, .ThemeGray .DetailEnrollPhone, .ThemeGray .DetailEnrollApproved, .ThemeGray .DetailEnrollNo, .ThemeGray .EditEnrollSelect, .ThemeGray .EditEnrollUser, .ThemeGray .EditEnrollDisplay, .ThemeGray .EditEnrollDisplay a:link, .ThemeGray .EditEnrollEmail, .ThemeGray .EditEnrollEmail a:link, .ThemeGray .EditEnrollPhone, .ThemeGray .EditEnrollApproved, .ThemeGray .EditEnrollNo, .ThemeGray .EditEnrollDate, .ThemeGray .EditEnrollDate .ThemeGray .EnrollSelect, .ThemeGray .EnrollApproved, .ThemeGray .EnrollNo, .ThemeGray .EnrollFee, .ThemeGray .EnrollDate {
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}

.ThemeGray .ListHeader A { color: #fff }

.ThemeGray .ListPager TD {
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeGray .ListDuration {
    background-color: transparent;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeGray .ListCustomField2 {
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeGray .ListAlternate, .ThemeGray .DetailEnrollGridAlternate, .ThemeGray .EditEnrollGridAlternate, .ThemeGray .EnrollGridAlternate { background-color: #F5F5F5 }

.ThemeGray .ListDataGrid, .ThemeGray .DetailEnrollGrid, .ThemeGray .EditEnrollGrid, .ThemeGray .EnrollGrid {
    background-color: #EFE7E7;
    border-style: none
}

.ThemeGray .ListDataGrid td, .ThemeGray .DetailEnrollGrid td, .ThemeGray .EditEnrollGrid td, .ThemeGray .EnrollGrid td { border-style: none }

.ThemeGray .ListEdit {
    background-color: transparent;
    color: #000;
    text-align: center;
    vertical-align: top;
    width: 10px;
}

.ThemeGray .ListDate, .ThemeGray .ListTitle, .ThemeGray .ListDescription, .ThemeGray .ListCategory, .ThemeGray .ListLocation, .ThemeGray .ListLocation a, .ThemeGray .ListCustomField1, .ThemeGray .ListRecurText, .ThemeGray .ListRecurUntil, .ThemeGray .EnrollTitle {
    background-color: transparent;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeGray .RptTable {
    background-color: #EFE7E7;
    border-collapse: collapse;
    border-style: none;
    width: 100%;
}

.ThemeGray .RptRepeater { width: 100%; }

.ThemeGray .RptRepeater td { border-style: none; }

.ThemeGray .RptHeader {
    background-image: url(gradient_Gray.jpg);
    color: Silver;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    width: 100%;
}

.ThemeGray .RptNormal {
    background-color: transparent;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeGray .RptAlternate {
    background-color: #F5F5F5;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeGray .RptPagerCurrentPage { color: Red; }

.ThemeGray .RptPagerHeader td { border-style: none; }

.ThemeGray .DetailReminderDiv, .ThemeGray .DetailiCalDiv,
.ThemeGray .DetailEnrollDiv, .ThemeGray .DetailEnrollTableDiv,
.ThemeGray .DetailCommands,
.ThemeGray .DetailEventDetailsDiv1,
.ThemeGray .DetailEventDetailsDiv2,
.ThemeGray .DetailEventDetailsDiv3,
.ThemeGray .DetailEventDetailsDiv4 {
    padding-left: 5px;
    width: 90%;
}

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailReminderRight,
.ThemeGray .DetailiCalLeft, .ThemeGray .DetailiCalRight,
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailEnrollRight,
.ThemeGray .DetailContentLeft, .ThemeGray .DetailContentRight {
    float: left;
    text-align: left;
}

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailReminderRight,
.ThemeGray .DetailiCalLeft, .ThemeGray .DetailiCalRight,
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailEnrollRight,
.ThemeGray .DetailEnrollTableLeft, .ThemeGray .DetailEnrollTableRight,
.ThemeGray .DetailContentLeft, .ThemeGray .DetailContentRight { padding: 5px 0 5px 0; }

.ThemeGray .DetailReminderLeft, .ThemeGray .DetailiCalLeft,
.ThemeGray .DetailEnrollLeft, .ThemeGray .DetailContentLeft { width: 35%; }

.ThemeGray .DetailClear { clear: both; }

.ThemeGray .IconBar { white-space: nowrap; }

.ThemeGray .IconBar img, .ThemeGray .IconBar input { vertical-align: baseline; }

.ThemeGray .TopIconBar {
    vertical-align: top;
    width: 33%;
}

.ThemeGray .TopIconBar DIV { float: right; }

.ThemeGray .BottomIconBar { padding-top: 3px; }

.ThemeGray .IconBarPadding { padding-right: 2px; }

.ThemeGray .EditEvents .TimePicker, .ThemeGray .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeGray .EditEvents .DatePicker { width: 150px !important; }

.ThemeGray .EditEvents .cmdDatePicker { margin-top: 5px; }

.ThemeGray .EvtHdrMdlCol .DatePicker { Display: inline-block; }

.ThemeGray .EvtDateControls { margin-bottom: 5px; }

.ThemeGray .RadPicker_Default .riTextBox {
    height: 20px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ThemeGray .SelCategoryTR { height: 35px; }

.ThemeGray .SelCategoryTR div { vertical-align: middle; }

.ThemeGray .SelCategory span { font-weight: bold; }

html body .ThemeGray .RadInput_Default .riTextBox.DateFormat,
.ThemeGray .RadComboBox_Default .rcbInput.CategoryFormat {
    font-family: verdana, helvetica, arial;
    font-size: 11px;
}

.ThemeGray .RadComboBox_Default.SelectCategory { width: 150px !important; }

.ThemeGray ul.dnnActions li.cmdRight { float: right; }

.ThemeGray .EventSettings .dnnFormItem INPUT[type='text'] { min-width: 1px; }

.ThemeGray .dnnFormItem .autoWidth LABEL { width: auto; }

.ThemeGray .dnnFormItem .inputCenter INPUT { float: none; }

.ThemeGray .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeGray .EditEvents .dnnFormItem .evtRecWeekDays input {
    display: inline;
    float: none;
    width: auto;
}

.ThemeGray .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeGray .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeGray .EditEvents .evtGridInput { float: none; }

.ThemeGray .EditEvents .SubHead { font-size: inherit; }

.ThemeGray .EditEvents .evtRadioTop .dnnRadiobutton { vertical-align: top; }

.ThemeGray .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}