/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeEvents .EvtHdrLftCol {
    width: 33%;
    float: left;
    min-height: 1px;
}

.ThemeEvents .EvtHdrMdlCol {
    width: 34%;
    float: left;
    min-height: 1px;
    text-align: center;
}

.ThemeEvents .EvtHdrRgtCol {
    width: 33%;
    float: left;
}

.ThemeEvents .Eventtooltipheader, .ThemeEvents .Eventtooltipbody {
    width: 300px;
    z-index: 99;
    font-size: 10px;
    font-family: Arial;
    padding: 5px;
}

.ThemeEvents .Eventtooltipheader {
    border: #c3d9ff 1px solid;
    background-color: #c3d9ff;
    color: #00008B;
    font-weight: 700;
    font-size: 11px;
}

.ThemeEvents .Eventtooltipbody {
    border-left: #c3d9ff 1px solid;
    border-right: #c3d9ff 1px solid;
    border-bottom: #c3d9ff 1px solid;
    background-color: #fff;
}

    .ThemeEvents .Eventtooltipbody hr {
        width: 100%;
        color: #c3d9ff;
        background-color: #c3d9ff;
        height: 1px;
        border: 0;
    }

.ThemeEvents .Event {
    table-layout: fixed;
    width: 100%;
    font-size: 9px;
    color: #000;
    font-family: Verdana;
    text-align: center;
    border-right: #c3d9ff 2px solid;
    border-top: #c3d9ff 1px solid;
    border-left: #c3d9ff 2px solid;
    border-bottom: #c3d9ff 2px solid;
    white-space: normal;
}

.ThemeEvents .EventTitle, .ThemeEvents .EventTitle td {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    color: #00008B;
    height: 20px;
    text-align: center;
    background-color: #c3d9ff;
    font-family: Verdana;
    border-bottom: #7994cb 0 solid;
}

.ThemeEvents .EventDayHeader {
    font-weight: 700;
    font-size: 12px;
    height: 16px;
    background-color: silver;
    vertical-align: middle;
    font-family: Verdana;
    border: #a2bbdd 1px solid;
}

.ThemeEvents .EventDay, .ThemeEvents .EventDayEvents, .ThemeEvents .EventWeekendDayEvents {
    font-size: 10px;
    text-align: left;
    height: 100px;
    vertical-align: top;
    color: #00f;
    font-family: Verdana;
    background-color: #e8eef7;
    border: #a2bbdd 1px solid;
}

    .ThemeEvents .EventDayEvents a, .ThemeEvents .EventDayEvents a:visited, .ThemeEvents .EventDayEvents a:hover, .ThemeEvents .EventWeekendDayEvents a, .ThemeEvents .EventWeekendDayEvents a:visited, .ThemeEvents .EventWeekendDayEvents a:hover {
        font-size: 10px;
        color: red;
        font-family: Verdana
    }

.ThemeEvents .EventDayScroll {
    width: 100%;
    height: 88%;
    overflow: auto;
    position: static;
    font-weight: bolder;
    background-color: #fff;
}

.ThemeEvents .EventOtherMonthDay {
    color: gray;
    background-color: #DCDCDC;
}

.ThemeEvents .EventTodayDay {
    font-weight: 700;
    color: #00f;
    background-color: #A9A9A9;
    border: #000 2px solid;
}

.ThemeEvents .EventSelectedDay {
    border: red 2px solid;
    font-size: 10px;
}

    .ThemeEvents .EventSelectedDay, .ThemeEvents .EventSelectedDay a, .ThemeEvents .EventSelectedDay a:visited, .ThemeEvents .EventSelectedDay a:hover {
        text-align: left;
    }

.ThemeEvents .EventSelector {
    background-color: #c0c0e0;
}

    .ThemeEvents .EventSelector a, .ThemeEvents .EventSelector a:visited, .ThemeEvents .EventSelector a:hover {
        color: #00f;
        text-decoration: none;
    }

.ThemeEvents .WeekTable table {
    table-layout: auto;
    width: 100%;
    font-size: 10px;
    color: #000;
    font-family: Verdana;
    text-align: center;
    border: #c3d9ff 1px solid;
}

    .ThemeEvents .WeekTable table td, .ThemeEvents .WeekTable table th {
        border: 0;
        padding: 3px;
    }

.ThemeEvents .WeekItem {
    text-align: center;
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #FFF;
    font-weight: 400;
    background-color: #7994cb;
    border: #a2bbdd 1px solid;
}

.ThemeEvents .WeekDay {
    font-weight: 700;
    font-size: 9px;
    color: #7994cb;
    font-family: verdana,helvetica,arial;
    background-color: #7994cb;
    text-align: center;
    vertical-align: middle;
    border: #a2bbdd 1px solid;
}

.ThemeEvents .WeekBackground {
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #fff;
    border: #a2bbdd 1px dotted;
}

.ThemeEvents .WeekTitle {
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    color: #000;
    height: 15%;
    text-align: center;
    background-color: silver;
    width: 11%;
    border: #a2bbdd 1px solid;
}

.ThemeEvents .WeekOfTitle {
    font-weight: 700;
    font-size: 10px;
    width: 100%;
    color: #00008B;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents .WeekNextPrev {
    font-weight: 700;
    font-family: verdana,helvetica,arial;
    font-size: 10px;
    width: 100%;
    color: #00008B;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents .WeekRangeheader {
    text-align: center;
    vertical-align: middle;
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #e8eef7;
    border: none;
}

.ThemeEvents .ListTable {
    width: 100%;
}

.ThemeEvents .ListDate, .ThemeEvents .ListRecurText, .ThemeEvents .ListRecurUntil {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.ThemeEvents .ListLink {
    font-weight: 700;
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents .ListHeader, .ThemeEvents .DetailEnrollGridHeader, .ThemeEvents .EditEnrollGridHeader, .ThemeEvents .EnrollGridHeader {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    background-color: #c3d9ff;
    font-family: verdana,helvetica,arial;
    height: 32px;
    text-align: left;
    vertical-align: middle;
}

.ThemeEvents .DetailEnrollGridHeader, .ThemeEvents .EditEnrollGridHeader, .ThemeEvents .EnrollGridHeader {
    text-align: center;
}

.ThemeEvents .DetailEnrollUser, .ThemeEvents .DetailEnrollDisplay, .ThemeEvents .DetailEnrollDisplay a:link, .ThemeEvents .DetailEnrollEmail, .ThemeEvents .DetailEnrollEmail a:link, .ThemeEvents .DetailEnrollPhone, .ThemeEvents .DetailEnrollApproved, .ThemeEvents .DetailEnrollNo, .ThemeEvents .EditEnrollSelect, .ThemeEvents .EditEnrollUser, .ThemeEvents .EditEnrollDisplay, .ThemeEvents .EditEnrollDisplay a:link, .ThemeEvents .EditEnrollEmail, .ThemeEvents .EditEnrollEmail a:link, .ThemeEvents .EditEnrollPhone, .ThemeEvents .EditEnrollApproved, .ThemeEvents .EditEnrollNo, .ThemeEvents .EditEnrollDate, .ThemeEvents .EditEnrollDate .ThemeEvents .EnrollSelect, .ThemeEvents .EnrollApproved, .ThemeEvents .EnrollNo, .ThemeEvents .EnrollFee, .ThemeEvents .EnrollDate {
    font-size: 12px;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: top;
    font-weight: normal;
}

.ThemeEvents .ListDuration {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents .ListDataGrid, .ThemeEvents .DetailEnrollGrid, .ThemeEvents .EditEnrollGrid, .ThemeEvents .EnrollGrid {
    border-right: #c3d9ff 2px solid;
    border-top: #c3d9ff 1px solid;
    border-left: #c3d9ff 2px solid;
    border-bottom: #c3d9ff 2px solid;
    background-color: #e8eef7;
}

    .ThemeEvents .ListDataGrid td, .ThemeEvents .DetailEnrollGrid td, .ThemeEvents .EditEnrollGrid td, .ThemeEvents .EnrollGrid td {
        border-color: #a2bbdd;
        border-style: dotted;
        border-width: 1px;
    }

.ThemeEvents .ListEdit {
    text-align: center;
    vertical-align: top;
    width: 1px;
}

.ThemeEvents .EventNextPrev, .ThemeEvents .EventNextPrev a:link, .ThemeEvents .EventNextPrev a, .ThemeEvents .EventNextPrev a:visited, .ThemeEvents .EventNextPrev a:hover {
    font-size: 12px;
    color: #00008B;
    padding: 0 0.5em;
}

.ThemeEvents .EventWeekendDay, .ThemeEvents .ListAlternate, .ThemeEvents .DetailEnrollGridAlternate, .ThemeEvents .EditEnrollGridAlternate, .ThemeEvents .EnrollGridAlternate {
    background-color: #F5F5F5;
}

.ThemeEvents .ListTitle, .ThemeEvents .ListDescription, .ThemeEvents .ListCustomField1, .ThemeEvents .ListCustomField2, .ThemeEvents .EnrollTitle {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents .ListCategory, .ThemeEvents .ListLocation, .ThemeEvents .ListLocation a {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents .RptTable {
    border-right: #c3d9ff 2px solid;
    border-top: #c3d9ff 1px solid;
    border-left: #c3d9ff 2px solid;
    border-bottom: #c3d9ff 2px solid;
    background-color: #e8eef7;
    border-collapse: collapse;
    width: 100%;
}

.ThemeEvents .RptRepeater {
    width: 100%;
}

    .ThemeEvents .RptRepeater td {
        border-color: #a2bbdd;
        border-style: dotted;
        border-width: 1px;
    }

.ThemeEvents .RptHeader {
    font-size: 12px;
    font-weight: 700;
    background-color: #c3d9ff;
    font-family: verdana,helvetica,arial;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents .RptNormal {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents .RptAlternate {
    background-color: #F5F5F5;
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents .RptPagerCurrentPage {
    color: Red;
}

.ThemeEvents .RptPagerHeader td {
    border-color: #a2bbdd;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents .DetailReminderDiv, .ThemeEvents .DetailiCalDiv,
.ThemeEvents .DetailEnrollDiv, .ThemeEvents .DetailEnrollTableDiv,
.ThemeEvents .DetailCommands,
.ThemeEvents .DetailEventDetailsDiv1,
.ThemeEvents .DetailEventDetailsDiv2,
.ThemeEvents .DetailEventDetailsDiv3,
.ThemeEvents .DetailEventDetailsDiv4 {
    width: 90%;
    padding-left: 5px;
}

.ThemeEvents .DetailReminderLeft, .ThemeEvents .DetailReminderRight,
.ThemeEvents .DetailiCalLeft, .ThemeEvents .DetailiCalRight,
.ThemeEvents .DetailEnrollLeft, .ThemeEvents .DetailEnrollRight,
.ThemeEvents .DetailContentLeft, .ThemeEvents .DetailContentRight {
    text-align: left;
    float: left;
}

.ThemeEvents .DetailReminderLeft, .ThemeEvents .DetailReminderRight,
.ThemeEvents .DetailiCalLeft, .ThemeEvents .DetailiCalRight,
.ThemeEvents .DetailEnrollLeft, .ThemeEvents .DetailEnrollRight,
.ThemeEvents .DetailEnrollTableLeft, .ThemeEvents .DetailEnrollTableRight,
.ThemeEvents .DetailContentLeft, .ThemeEvents .DetailContentRight {
    padding: 5px 0 5px 0;
}

.ThemeEvents .DetailReminderLeft, .ThemeEvents .DetailiCalLeft,
.ThemeEvents .DetailEnrollLeft, .ThemeEvents .DetailContentLeft {
    width: 35%;
}

.ThemeEvents .DetailClear {
    clear: both;
}

.ThemeEvents .IconBar {
    white-space: nowrap;
}

    .ThemeEvents .IconBar img, .ThemeEvents .IconBar input {
        vertical-align: baseline;
    }

.ThemeEvents .TopIconBar {
    width: 33%;
    vertical-align: top;
}

    .ThemeEvents .TopIconBar DIV {
        float: right;
    }

.ThemeEvents .BottomIconBar {
    padding-top: 3px;
}

.ThemeEvents .IconBarPadding {
    padding-right: 2px;
}

.ThemeEvents .EditEvents .TimePicker, .ThemeEvents .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeEvents .EditEvents .DatePicker {
    width: 150px !important;
}

.ThemeEvents .EditEvents .cmdDatePicker {
    margin-top: 5px;
}

.ThemeEvents .EvtHdrMdlCol .DatePicker {
    Display: inline-block;
}

.ThemeEvents .EvtDateControls {
    margin-bottom: 5px;
}

.ThemeEvents .RadPicker_Default .riTextBox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 20px;
}

.ThemeEvents .SelCategoryTR {
    height: 35px;
}

    .ThemeEvents .SelCategoryTR div {
        vertical-align: middle;
    }

.ThemeEvents .SelCategory span {
    font-weight: bold;
}

html body .ThemeEvents .RadInput_Default .riTextBox.DateFormat,
.ThemeEvents .RadComboBox_Default .rcbInput.CategoryFormat {
    font-size: 11px;
    font-family: verdana,helvetica,arial;
}

.ThemeEvents .RadComboBox_Default.SelectCategory {
    width: 150px !important;
}

.ThemeEvents ul.dnnActions li.cmdRight {
    float: right;
}

.ThemeEvents .EventSettings .dnnFormItem INPUT[type='text'] {
    min-width: 1px;
}

.ThemeEvents .dnnFormItem .autoWidth LABEL {
    width: auto;
}

.ThemeEvents .dnnFormItem .inputCenter INPUT {
    float: none;
}

.ThemeEvents .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeEvents .EditEvents .dnnFormItem .evtRecWeekDays input {
    float: none;
    width: auto;
    display: inline;
}

.ThemeEvents .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeEvents .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeEvents .EditEvents .evtGridInput {
    float: none;
}

.ThemeEvents .EditEvents .SubHead {
    font-size: inherit;
}

.ThemeEvents .EditEvents .evtRadioTop .dnnRadiobutton {
    vertical-align: top;
}

.ThemeEvents .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}
