/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeEvents-Grey .EvtHdrLftCol {
    float: left;
    min-height: 1px;
    width: 33%;
}

.ThemeEvents-Grey .EvtHdrMdlCol {
    float: left;
    min-height: 1px;
    text-align: center;
    width: 34%;
}

.ThemeEvents-Grey .EvtHdrRgtCol {
    float: left;
    width: 33%;
}

.ThemeEvents-Grey .Eventtooltipheader, .ThemeEvents-Grey .Eventtooltipbody {
    font-family: Arial;
    font-size: 10px;
    padding: 5px;
    width: 300px;
    z-index: 99;
}

.ThemeEvents-Grey .Eventtooltipheader {
    background-color: #808080;
    border: #808080 1px solid;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 700;
}

.ThemeEvents-Grey .Eventtooltipbody {
    background-color: #fff;
    border-bottom: #808080 1px solid;
    border-left: #808080 1px solid;
    border-right: #808080 1px solid;
}

.ThemeEvents-Grey .Eventtooltipbody hr {
    background-color: #e0e0e0;
    border: 0;
    color: #000000;
    height: 1px;
    width: 100%;
}

.ThemeEvents-Grey .Event {
    border-bottom: #808080 2px solid;
    border-left: #808080 2px solid;
    border-right: #808080 2px solid;
    border-top: #808080 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 9px;
    table-layout: fixed;
    text-align: center;
    white-space: normal;
    width: 100%;
}

.ThemeEvents-Grey .EventTitle, .ThemeEvents-Grey .EventTitle td {
    background-color: #e0e0e0;
    border-bottom: 0 #808080 solid;
    color: #333333;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    text-align: center;
    width: 100%;
}

.ThemeEvents-Grey .EventDayHeader {
    background-color: silver;
    border: #707070 1px solid;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    vertical-align: middle;
}

.ThemeEvents-Grey .EventDay, .ThemeEvents-Grey .EventDayEvents, .ThemeEvents-Grey .EventWeekendDayEvents {
    background-color: #C0C0C0;
    border: 1px #808080 solid;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
    height: 100px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Grey .EventDayEvents a, .ThemeEvents-Grey .EventDayEvents a:visited, .ThemeEvents-Grey .EventDayEvents a:hover, .ThemeEvents-Grey .EventWeekendDayEvents a, .ThemeEvents-Grey .EventWeekendDayEvents a:visited, .ThemeEvents-Grey .EventWeekendDayEvents a:hover {
    color: blue;
    font-family: Verdana;
    font-size: 10px;
}

.ThemeEvents-Grey .EventDayScroll {
    background-color: #fff;
    font-weight: bolder;
    height: 88%;
    overflow: auto;
    position: static;
    width: 100%;
}

.ThemeEvents-Grey .EventOtherMonthDay {
    background-color: #DCDCDC;
    color: gray;
}

.ThemeEvents-Grey .EventTodayDay {
    background-color: #A9A9A9;
    border: #000 2px solid;
    color: #00f;
    font-weight: 700;
}

.ThemeEvents-Grey .EventSelectedDay {
    border: red 2px solid;
    font-size: 10px;
}

.ThemeEvents-Grey .EventSelectedDay, .ThemeEvents-Grey .EventSelectedDay a, .ThemeEvents-Grey .EventSelectedDay a:visited, .ThemeEvents-Grey .EventSelectedDay a:hover { text-align: left; }

.ThemeEvents-Grey .EventSelector { background-color: #c0c0c0; }

.ThemeEvents-Grey .EventSelector a, .ThemeEvents-Grey .EventSelector a:visited, .ThemeEvents-Grey .EventSelector a:hover {
    color: #606060;
    text-decoration: none;
}

.ThemeEvents-Grey .WeekTable table {
    border: #808080 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 10px;
    table-layout: auto;
    text-align: center;
    width: 100%;
}

.ThemeEvents-Grey .WeekTable table td, .ThemeEvents-Grey .WeekTable table th {
    border: 0;
    padding: 3px;
}

.ThemeEvents-Grey .WeekItem {
    background-color: #FFF;
    background-color: #C0C0C0;
    border: 1px #808080 solid;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
}

.ThemeEvents-Grey .WeekDay {
    background-color: #C0C0C0;
    border: 1px #808080 solid;
    color: #808080;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Grey .WeekBackground {
    background-color: #fff;
    border: 1px #808080 dotted;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeEvents-Grey .WeekTitle {
    background-color: silver;
    border: 1px #808080 solid;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    height: 15%;
    text-align: center;
    width: 11%;
}

.ThemeEvents-Grey .WeekOfTitle {
    color: #333333;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Grey .WeekNextPrev {
    color: #606060;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Grey .WeekRangeheader {
    background-color: #DCDCDC;
    border: none;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Grey .ListTable { width: 100%; }

.ThemeEvents-Grey .ListDate, .ThemeEvents-Grey .ListRecurText, .ThemeEvents-Grey .ListRecurUntil {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.ThemeEvents-Grey .ListLink {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Grey .ListHeader, .ThemeEvents-Grey .DetailEnrollGridHeader, .ThemeEvents-Grey .EditEnrollGridHeader, .ThemeEvents-Grey .EnrollGridHeader {
    background-color: #C0C0C0;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    text-align: left;
    vertical-align: middle;
}

.ThemeEvents-Grey .DetailEnrollGridHeader, .ThemeEvents-Grey .EditEnrollGridHeader, .ThemeEvents-Grey .EnrollGridHeader { text-align: center; }

.ThemeEvents-Grey .DetailEnrollUser, .ThemeEvents-Grey .DetailEnrollDisplay, .ThemeEvents-Grey .DetailEnrollDisplay a:link, .ThemeEvents-Grey .DetailEnrollEmail, .ThemeEvents-Grey .DetailEnrollEmail a:link, .ThemeEvents-Grey .DetailEnrollPhone, .ThemeEvents-Grey .DetailEnrollApproved, .ThemeEvents-Grey .DetailEnrollNo, .ThemeEvents-Grey .EditEnrollSelect, .ThemeEvents-Grey .EditEnrollUser, .ThemeEvents-Grey .EditEnrollDisplay, .ThemeEvents-Grey .EditEnrollDisplay a:link, .ThemeEvents-Grey .EditEnrollEmail, .ThemeEvents-Grey .EditEnrollEmail a:link, .ThemeEvents-Grey .EditEnrollPhone, .ThemeEvents-Grey .EditEnrollApproved, .ThemeEvents-Grey .EditEnrollNo, .ThemeEvents-Grey .EditEnrollDate, .ThemeEvents-Grey .EditEnrollDate .ThemeEvents-Grey .EnrollSelect, .ThemeEvents-Grey .EnrollApproved, .ThemeEvents-Grey .EnrollNo, .ThemeEvents-Grey .EnrollFee, .ThemeEvents-Grey .EnrollDate {
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}

.ThemeEvents-Grey .ListDuration {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Grey .ListDataGrid, .ThemeEvents-Grey .DetailEnrollGrid, .ThemeEvents-Grey .EditEnrollGrid, .ThemeEvents-Grey .EnrollGrid {
    background-color: #e8eef7;
    border-bottom: #808080 2px solid;
    border-left: #808080 2px solid;
    border-right: #808080 2px solid;
    border-top: #808080 1px solid;
}

.ThemeEvents-Grey .ListDataGrid td, .ThemeEvents-Grey .DetailEnrollGrid td, .ThemeEvents-Grey .EditEnrollGrid td, .ThemeEvents-Grey .EnrollGrid td {
    border-color: #808080;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Grey .ListEdit {
    text-align: center;
    vertical-align: top;
    width: 1px;
}

.ThemeEvents-Grey .EventNextPrev, .ThemeEvents-Grey .EventNextPrev a:link, .ThemeEvents-Grey .EventNextPrev a, .ThemeEvents-Grey .EventNextPrev a:visited, .ThemeEvents-Grey .EventNextPrev a:hover {
    color: #666666;
    font-size: 12px;
    padding: 0 0.5em;
}

.ThemeEvents-Grey .EventWeekendDay, .ThemeEvents-Grey .ListAlternate, .ThemeEvents-Grey .DetailEnrollGridAlternate, .ThemeEvents-Grey .EditEnrollGridAlternate, .ThemeEvents-Grey .EnrollGridAlternate { background-color: #F5F5F5; }

.ThemeEvents-Grey .ListTitle, .ThemeEvents-Grey .ListDescription, .ThemeEvents-Grey .ListCustomField1, .ThemeEvents-Grey .ListCustomField2, .ThemeEvents-Grey .EnrollTitle {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Grey .ListCategory, .ThemeEvents-Grey .ListLocation, .ThemeEvents-Grey .ListLocation a {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Grey .RptTable {
    background-color: #e8eef7;
    border-bottom: #808080 2px solid;
    border-collapse: collapse;
    border-left: #808080 2px solid;
    border-right: #808080 2px solid;
    border-top: #808080 1px solid;
    width: 100%;
}

.ThemeEvents-Grey .RptRepeater { width: 100%; }

.ThemeEvents-Grey .RptRepeater td {
    border-color: #808080;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Grey .RptHeader {
    background-color: #C0C0C0;
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Grey .RptNormal {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Grey .RptAlternate {
    background-color: #F5F5F5;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Grey .RptPagerCurrentPage { color: Red; }

.ThemeEvents-Grey .RptPagerHeader td {
    border-color: #808080;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Grey .DetailReminderDiv, .ThemeEvents-Grey .DetailiCalDiv,
.ThemeEvents-Grey .DetailEnrollDiv, .ThemeEvents-Grey .DetailEnrollTableDiv,
.ThemeEvents-Grey .DetailCommands,
.ThemeEvents-Grey .DetailEventDetailsDiv1,
.ThemeEvents-Grey .DetailEventDetailsDiv2,
.ThemeEvents-Grey .DetailEventDetailsDiv3,
.ThemeEvents-Grey .DetailEventDetailsDiv4 {
    padding-left: 5px;
    width: 90%;
}

.ThemeEvents-Grey .DetailReminderLeft, .ThemeEvents-Grey .DetailReminderRight,
.ThemeEvents-Grey .DetailiCalLeft, .ThemeEvents-Grey .DetailiCalRight,
.ThemeEvents-Grey .DetailEnrollLeft, .ThemeEvents-Grey .DetailEnrollRight,
.ThemeEvents-Grey .DetailContentLeft, .ThemeEvents-Grey .DetailContentRight {
    float: left;
    text-align: left;
}

.ThemeEvents-Grey .DetailReminderLeft, .ThemeEvents-Grey .DetailReminderRight,
.ThemeEvents-Grey .DetailiCalLeft, .ThemeEvents-Grey .DetailiCalRight,
.ThemeEvents-Grey .DetailEnrollLeft, .ThemeEvents-Grey .DetailEnrollRight,
.ThemeEvents-Grey .DetailEnrollTableLeft, .ThemeEvents-Grey .DetailEnrollTableRight,
.ThemeEvents-Grey .DetailContentLeft, .ThemeEvents-Grey .DetailContentRight { padding: 5px 0 5px 0; }

.ThemeEvents-Grey .DetailReminderLeft, .ThemeEvents-Grey .DetailiCalLeft,
.ThemeEvents-Grey .DetailEnrollLeft, .ThemeEvents-Grey .DetailContentLeft { width: 35%; }

.ThemeEvents-Grey .DetailClear { clear: both; }

.ThemeEvents-Grey .IconBar { white-space: nowrap; }

.ThemeEvents-Grey .IconBar img, .ThemeEvents-Grey .IconBar input { vertical-align: baseline; }

.ThemeEvents-Grey .TopIconBar {
    vertical-align: top;
    width: 33%;
}

.ThemeEvents-Grey .TopIconBar DIV { float: right; }

.ThemeEvents-Grey .BottomIconBar { padding-top: 3px; }

.ThemeEvents-Grey .IconBarPadding { padding-right: 2px; }

.ThemeEvents-Grey .EditEvents .TimePicker, .ThemeEvents-Grey .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeEvents-Grey .EditEvents .DatePicker { width: 150px !important; }

.ThemeEvents-Grey .EditEvents .cmdDatePicker { margin-top: 5px; }

.ThemeEvents-Grey .EvtHdrMdlCol .DatePicker { Display: inline-block; }

.ThemeEvents-Grey .EvtDateControls { margin-bottom: 5px; }

.ThemeEvents-Grey .RadPicker_Default .riTextBox {
    height: 20px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ThemeEvents-Grey .SelCategoryTR { height: 35px; }

.ThemeEvents-Grey .SelCategoryTR div { vertical-align: middle; }

.ThemeEvents-Grey .SelCategory span { font-weight: bold; }

html body .ThemeEvents-Grey .RadInput_Default .riTextBox.DateFormat,
.ThemeEvents-Grey .RadComboBox_Default .rcbInput.CategoryFormat {
    font-family: verdana, helvetica, arial;
    font-size: 11px;
}

.ThemeEvents-Grey .RadComboBox_Default.SelectCategory { width: 150px !important; }

.ThemeEvents-Grey ul.dnnActions li.cmdRight { float: right; }

.ThemeEvents-Grey .EventSettings .dnnFormItem INPUT[type='text'] { min-width: 1px; }

.ThemeEvents-Grey .dnnFormItem .autoWidth LABEL { width: auto; }

.ThemeEvents-Grey .dnnFormItem .inputCenter INPUT { float: none; }

.ThemeEvents-Grey .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeEvents-Grey .EditEvents .dnnFormItem .evtRecWeekDays input {
    display: inline;
    float: none;
    width: auto;
}

.ThemeEvents-Grey .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Grey .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Grey .EditEvents .evtGridInput { float: none; }

.ThemeEvents-Grey .EditEvents .SubHead { font-size: inherit; }

.ThemeEvents-Grey .EditEvents .evtRadioTop .dnnRadiobutton { vertical-align: top; }

.ThemeEvents-Grey .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}