/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeEvents-Green .EvtHdrLftCol {
    float: left;
    min-height: 1px;
    width: 33%;
}

.ThemeEvents-Green .EvtHdrMdlCol {
    float: left;
    min-height: 1px;
    text-align: center;
    width: 34%;
}

.ThemeEvents-Green .EvtHdrRgtCol {
    float: left;
    width: 33%;
}

.ThemeEvents-Green .Eventtooltipheader, .ThemeEvents-Green .Eventtooltipbody {
    font-family: Arial;
    font-size: 10px;
    padding: 5px;
    width: 300px;
    z-index: 99;
}

.ThemeEvents-Green .Eventtooltipheader {
    background-color: #339933;
    border: #339933 1px solid;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 700;
}

.ThemeEvents-Green .Eventtooltipbody {
    background-color: #fff;
    border-bottom: #339933 1px solid;
    border-left: #339933 1px solid;
    border-right: #339933 1px solid;
}

.ThemeEvents-Green .Eventtooltipbody hr {
    background-color: #A3E4AC;
    border: 0;
    color: #000000;
    height: 1px;
    width: 100%;
}

.ThemeEvents-Green .Event {
    border-bottom: #339933 2px solid;
    border-left: #339933 2px solid;
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 9px;
    table-layout: fixed;
    text-align: center;
    white-space: normal;
    width: 100%;
}

.ThemeEvents-Green .EventTitle, .ThemeEvents-Green .EventTitle td {
    background-color: #99FF66;
    border-bottom: 0 #339933 solid;
    color: #333333;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    text-align: center;
    width: 100%;
}

.ThemeEvents-Green .EventDayHeader {
    background-color: #33CC33;
    border: #707070 1px solid;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    vertical-align: middle;
}

.ThemeEvents-Green .EventDay, .ThemeEvents-Green .EventDayEvents, .ThemeEvents-Green .EventWeekendDayEvents {
    background-color: #339933;
    border: 1px #339933 solid;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
    height: 100px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .EventDayEvents a, .ThemeEvents-Green .EventDayEvents a:visited, .ThemeEvents-Green .EventDayEvents a:hover, .ThemeEvents-Green .EventWeekendDayEvents a, .ThemeEvents-Green .EventWeekendDayEvents a:visited, .ThemeEvents-Green .EventWeekendDayEvents a:hover {
    color: blue;
    font-family: Verdana;
    font-size: 10px;
}

.ThemeEvents-Green .EventDayScroll {
    background-color: #fff;
    font-weight: bolder;
    height: 88%;
    overflow: auto;
    position: static;
    width: 100%;
}

.ThemeEvents-Green .EventOtherMonthDay {
    background-color: #99FF66;
    color: gray;
}

.ThemeEvents-Green .EventTodayDay {
    background-color: #99FF66;
    border: #000 2px solid;
    color: #00f;
    font-weight: 700;
}

.ThemeEvents-Green .EventSelectedDay {
    border: red 2px solid;
    font-size: 10px;
}

.ThemeEvents-Green .EventSelectedDay, .ThemeEvents-Green .EventSelectedDay a, .ThemeEvents-Green .EventSelectedDay a:visited, .ThemeEvents-Green .EventSelectedDay a:hover { text-align: left; }

.ThemeEvents-Green .EventSelector { background-color: #c0c0c0; }

.ThemeEvents-Green .EventSelector a, .ThemeEvents-Green .EventSelector a:visited, .ThemeEvents-Green .EventSelector a:hover {
    color: #606060;
    text-decoration: none;
}

.ThemeEvents-Green .WeekTable table {
    border: #339933 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 10px;
    table-layout: auto;
    text-align: center;
    width: 100%;
}

.ThemeEvents-Green .WeekTable table td, .ThemeEvents-Green .WeekTable table th {
    border: 0;
    padding: 3px;
}

.ThemeEvents-Green .WeekItem {
    background-color: #FFF;
    background-color: #99FF66;
    border: 1px #339933 solid;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
}

.ThemeEvents-Green .WeekDay {
    background-color: #A3E4AC;
    border: 1px #339933 solid;
    color: #339933;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Green .WeekBackground {
    background-color: #fff;
    border: 1px #339933 dotted;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeEvents-Green .WeekTitle {
    background-color: #A3E4AC;
    border: 1px #339933 solid;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    height: 15%;
    text-align: center;
    width: 11%;
}

.ThemeEvents-Green .WeekOfTitle {
    color: #333333;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Green .WeekNextPrev {
    color: #606060;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Green .WeekRangeheader {
    background-color: #99FF66;
    border: none;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Green .ListTable { width: 100%; }

.ThemeEvents-Green .ListDate, .ThemeEvents-Green .ListRecurText, .ThemeEvents-Green .ListRecurUntil {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.ThemeEvents-Green .ListLink {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .ListHeader, .ThemeEvents-Green .DetailEnrollGridHeader, .ThemeEvents-Green .EditEnrollGridHeader, .ThemeEvents-Green .EnrollGridHeader {
    background-color: #99FF66;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    text-align: left;
    vertical-align: middle;
}

.ThemeEvents-Green .DetailEnrollGridHeader, .ThemeEvents-Green .EditEnrollGridHeader, .ThemeEvents-Green .EnrollGridHeader { text-align: center; }

.ThemeEvents-Green .DetailEnrollUser, .ThemeEvents-Green .DetailEnrollDisplay, .ThemeEvents-Green .DetailEnrollDisplay a:link, .ThemeEvents-Green .DetailEnrollEmail, .ThemeEvents-Green .DetailEnrollEmail a:link, .ThemeEvents-Green .DetailEnrollPhone, .ThemeEvents-Green .DetailEnrollApproved, .ThemeEvents-Green .DetailEnrollNo, .ThemeEvents-Green .EditEnrollSelect, .ThemeEvents-Green .EditEnrollUser, .ThemeEvents-Green .EditEnrollDisplay, .ThemeEvents-Green .EditEnrollDisplay a:link, .ThemeEvents-Green .EditEnrollEmail, .ThemeEvents-Green .EditEnrollEmail a:link, .ThemeEvents-Green .EditEnrollPhone, .ThemeEvents-Green .EditEnrollApproved, .ThemeEvents-Green .EditEnrollNo, .ThemeEvents-Green .EditEnrollDate, .ThemeEvents-Green .EditEnrollDate .ThemeEvents-Green .EnrollSelect, .ThemeEvents-Green .EnrollApproved, .ThemeEvents-Green .EnrollNo, .ThemeEvents-Green .EnrollFee, .ThemeEvents-Green .EnrollDate {
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}

.ThemeEvents-Green .ListDuration {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Green .ListDataGrid, .ThemeEvents-Green .DetailEnrollGrid, .ThemeEvents-Green .EditEnrollGrid, .ThemeEvents-Green .EnrollGrid {
    background-color: #e8eef7;
    border-bottom: #339933 2px solid;
    border-left: #339933 2px solid;
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
}

.ThemeEvents-Green .ListDataGrid td, .ThemeEvents-Green .DetailEnrollGrid td, .ThemeEvents-Green .EditEnrollGrid td, .ThemeEvents-Green .EnrollGrid td {
    border-color: #339933;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Green .ListEdit {
    text-align: center;
    vertical-align: top;
    width: 1px;
}

.ThemeEvents-Green .EventNextPrev, .ThemeEvents-Green .EventNextPrev a:link, .ThemeEvents-Green .EventNextPrev a, .ThemeEvents-Green .EventNextPrev a:visited, .ThemeEvents-Green .EventNextPrev a:hover {
    color: #666666;
    font-size: 12px;
    padding: 0 0.5em;
}

.ThemeEvents-Green .EventWeekendDay, .ThemeEvents-Green .ListAlternate, .ThemeEvents-Green .DetailEnrollGridAlternate, .ThemeEvents-Green .EditEnrollGridAlternate, .ThemeEvents-Green .EnrollGridAlternate { background-color: #F5F5F5; }

.ThemeEvents-Green .ListTitle, .ThemeEvents-Green .ListDescription, .ThemeEvents-Green .ListCustomField1, .ThemeEvents-Green .ListCustomField2, .ThemeEvents-Green .EnrollTitle {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .ListCategory, .ThemeEvents-Green .ListLocation, .ThemeEvents-Green .ListLocation a {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Green .RptTable {
    background-color: #e8eef7;
    border-bottom: #339933 2px solid;
    border-collapse: collapse;
    border-left: #339933 2px solid;
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
    width: 100%;
}

.ThemeEvents-Green .RptRepeater { width: 100%; }

.ThemeEvents-Green .RptRepeater td {
    border-color: #339933;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Green .RptHeader {
    background-color: #99FF66;
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Green .RptNormal {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .RptAlternate {
    background-color: #F5F5F5;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .RptPagerCurrentPage { color: Red; }

.ThemeEvents-Green .RptPagerHeader td {
    border-color: #339933;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Green .DetailReminderDiv, .ThemeEvents-Green .DetailiCalDiv,
.ThemeEvents-Green .DetailEnrollDiv, .ThemeEvents-Green .DetailEnrollTableDiv,
.ThemeEvents-Green .DetailCommands,
.ThemeEvents-Green .DetailEventDetailsDiv1,
.ThemeEvents-Green .DetailEventDetailsDiv2,
.ThemeEvents-Green .DetailEventDetailsDiv3,
.ThemeEvents-Green .DetailEventDetailsDiv4 {
    padding-left: 5px;
    width: 90%;
}

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailReminderRight,
.ThemeEvents-Green .DetailiCalLeft, .ThemeEvents-Green .DetailiCalRight,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailEnrollRight,
.ThemeEvents-Green .DetailContentLeft, .ThemeEvents-Green .DetailContentRight {
    float: left;
    text-align: left;
}

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailReminderRight,
.ThemeEvents-Green .DetailiCalLeft, .ThemeEvents-Green .DetailiCalRight,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailEnrollRight,
.ThemeEvents-Green .DetailEnrollTableLeft, .ThemeEvents-Green .DetailEnrollTableRight,
.ThemeEvents-Green .DetailContentLeft, .ThemeEvents-Green .DetailContentRight { padding: 5px 0 5px 0; }

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailiCalLeft,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailContentLeft { width: 35%; }

.ThemeEvents-Green .DetailClear { clear: both; }

.ThemeEvents-Green .IconBar { white-space: nowrap; }

.ThemeEvents-Green .IconBar img, .ThemeEvents-Green .IconBar input { vertical-align: baseline; }

.ThemeEvents-Green .TopIconBar {
    vertical-align: top;
    width: 33%;
}

.ThemeEvents-Green .TopIconBar DIV { float: right; }

.ThemeEvents-Green .BottomIconBar { padding-top: 3px; }

.ThemeEvents-Green .IconBarPadding { padding-right: 2px; }

.ThemeEvents-Green .EditEvents .TimePicker, .ThemeEvents-Green .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeEvents-Green .EditEvents .DatePicker { width: 150px !important; }

.ThemeEvents-Green .EditEvents .cmdDatePicker { margin-top: 5px; }

.ThemeEvents-Green .EvtHdrMdlCol .DatePicker { Display: inline-block; }

.ThemeEvents-Green .EvtDateControls { margin-bottom: 5px; }

.ThemeEvents-Green .RadPicker_Default .riTextBox {
    height: 20px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ThemeEvents-Green .SelCategoryTR { height: 35px; }

.ThemeEvents-Green .SelCategoryTR div { vertical-align: middle; }

.ThemeEvents-Green .SelCategory span { font-weight: bold; }

html body .ThemeEvents-Green .RadInput_Default .riTextBox.DateFormat,
.ThemeEvents-Green .RadComboBox_Default .rcbInput.CategoryFormat {
    font-family: verdana, helvetica, arial;
    font-size: 11px;
}

.ThemeEvents-Green .RadComboBox_Default.SelectCategory { width: 150px !important; }

.ThemeEvents-Green ul.dnnActions li.cmdRight { float: right; }

.ThemeEvents-Green .EventSettings .dnnFormItem INPUT[type='text'] { min-width: 1px; }

.ThemeEvents-Green .dnnFormItem .autoWidth LABEL { width: auto; }

.ThemeEvents-Green .dnnFormItem .inputCenter INPUT { float: none; }

.ThemeEvents-Green .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeEvents-Green .EditEvents .dnnFormItem .evtRecWeekDays input {
    display: inline;
    float: none;
    width: auto;
}

.ThemeEvents-Green .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Green .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Green .EditEvents .evtGridInput { float: none; }

.ThemeEvents-Green .EditEvents .SubHead { font-size: inherit; }

.ThemeEvents-Green .EditEvents .evtRadioTop .dnnRadiobutton { vertical-align: top; }

.ThemeEvents-Green .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}