/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeEvents-Green .EvtHdrLftCol {
    width: 33%;
    float: left;
    min-height: 1px;
}

.ThemeEvents-Green .EvtHdrMdlCol {
    width: 34%;
    float: left;
    min-height: 1px;
    text-align: center;
}

.ThemeEvents-Green .EvtHdrRgtCol {
    width: 33%;
    float: left;
}

.ThemeEvents-Green .Eventtooltipheader, .ThemeEvents-Green .Eventtooltipbody {
    width: 300px;
    z-index: 99;
    font-size: 10px;
    font-family: Arial;
    padding: 5px;
}

.ThemeEvents-Green .Eventtooltipheader {
    border: #339933 1px solid;
    background-color: #339933;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 11px;
}

.ThemeEvents-Green .Eventtooltipbody {
    border-left: #339933 1px solid;
    border-right: #339933 1px solid;
    border-bottom: #339933 1px solid;
    background-color: #fff;
}

    .ThemeEvents-Green .Eventtooltipbody hr {
        width: 100%;
        color: #000000;
        background-color: #A3E4AC;
        height: 1px;
        border: 0;
    }

.ThemeEvents-Green .Event {
    table-layout: fixed;
    width: 100%;
    font-size: 9px;
    color: #000;
    font-family: Verdana;
    text-align: center;
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
    border-left: #339933 2px solid;
    border-bottom: #339933 2px solid;
    white-space: normal;
}

.ThemeEvents-Green .EventTitle, .ThemeEvents-Green .EventTitle td {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    color: #333333;
    height: 20px;
    text-align: center;
    background-color: #99FF66;
    font-family: Verdana;
    border-bottom: 0 #339933 solid;
}

.ThemeEvents-Green .EventDayHeader {
    font-weight: 700;
    font-size: 12px;
    height: 16px;
    background-color: #33CC33;
    vertical-align: middle;
    font-family: Verdana;
    border: #707070 1px solid;
}

.ThemeEvents-Green .EventDay, .ThemeEvents-Green .EventDayEvents, .ThemeEvents-Green .EventWeekendDayEvents {
    font-size: 10px;
    text-align: left;
    height: 100px;
    vertical-align: top;
    color: #000000;
    font-family: Verdana;
    background-color: #339933;
    border: 1px #339933 solid;
}

    .ThemeEvents-Green .EventDayEvents a, .ThemeEvents-Green .EventDayEvents a:visited, .ThemeEvents-Green .EventDayEvents a:hover, .ThemeEvents-Green .EventWeekendDayEvents a, .ThemeEvents-Green .EventWeekendDayEvents a:visited, .ThemeEvents-Green .EventWeekendDayEvents a:hover {
        font-size: 10px;
        color: blue;
        font-family: Verdana
    }

.ThemeEvents-Green .EventDayScroll {
    width: 100%;
    height: 88%;
    overflow: auto;
    position: static;
    font-weight: bolder;
    background-color: #fff;
}

.ThemeEvents-Green .EventOtherMonthDay {
    color: gray;
    background-color: #99FF66;
}

.ThemeEvents-Green .EventTodayDay {
    font-weight: 700;
    color: #00f;
    background-color: #99FF66;
    border: #000 2px solid;
}

.ThemeEvents-Green .EventSelectedDay {
    border: red 2px solid;
    font-size: 10px;
}

    .ThemeEvents-Green .EventSelectedDay, .ThemeEvents-Green .EventSelectedDay a, .ThemeEvents-Green .EventSelectedDay a:visited, .ThemeEvents-Green .EventSelectedDay a:hover {
        text-align: left;
    }

.ThemeEvents-Green .EventSelector {
    background-color: #c0c0c0;
}

    .ThemeEvents-Green .EventSelector a, .ThemeEvents-Green .EventSelector a:visited, .ThemeEvents-Green .EventSelector a:hover {
        color: #606060;
        text-decoration: none;
    }

.ThemeEvents-Green .WeekTable table {
    table-layout: auto;
    width: 100%;
    font-size: 10px;
    color: #000;
    font-family: Verdana;
    text-align: center;
    border: #339933 1px solid;
}

    .ThemeEvents-Green .WeekTable table td, .ThemeEvents-Green .WeekTable table th {
        border: 0;
        padding: 3px;
    }

.ThemeEvents-Green .WeekItem {
    text-align: center;
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #FFF;
    font-weight: 400;
    background-color: #99FF66;
    border: 1px #339933 solid;
}

.ThemeEvents-Green .WeekDay {
    font-weight: 700;
    font-size: 9px;
    color: #339933;
    font-family: verdana,helvetica,arial;
    background-color: #A3E4AC;
    text-align: center;
    vertical-align: middle;
    border: 1px #339933 solid;
}

.ThemeEvents-Green .WeekBackground {
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #fff;
    border: 1px #339933 dotted;
}

.ThemeEvents-Green .WeekTitle {
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    color: #000;
    height: 15%;
    text-align: center;
    background-color: #A3E4AC;
    width: 11%;
    border: 1px #339933 solid;
}

.ThemeEvents-Green .WeekOfTitle {
    font-weight: 700;
    font-size: 10px;
    width: 100%;
    color: #333333;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Green .WeekNextPrev {
    font-weight: 700;
    font-family: verdana,helvetica,arial;
    font-size: 10px;
    width: 100%;
    color: #606060;
    text-align: center;
    vertical-align: middle;
}

.ThemeEvents-Green .WeekRangeheader {
    text-align: center;
    vertical-align: middle;
    font-family: verdana,helvetica,arial;
    font-size: 9px;
    background-color: #99FF66;
    border: none;
}

.ThemeEvents-Green .ListTable {
    width: 100%;
}

.ThemeEvents-Green .ListDate, .ThemeEvents-Green .ListRecurText, .ThemeEvents-Green .ListRecurUntil {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.ThemeEvents-Green .ListLink {
    font-weight: 700;
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .ListHeader, .ThemeEvents-Green .DetailEnrollGridHeader, .ThemeEvents-Green .EditEnrollGridHeader, .ThemeEvents-Green .EnrollGridHeader {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    background-color: #99FF66;
    font-family: verdana,helvetica,arial;
    height: 32px;
    text-align: left;
    vertical-align: middle;
}

.ThemeEvents-Green .DetailEnrollGridHeader, .ThemeEvents-Green .EditEnrollGridHeader, .ThemeEvents-Green .EnrollGridHeader {
    text-align: center;
}

.ThemeEvents-Green .DetailEnrollUser, .ThemeEvents-Green .DetailEnrollDisplay, .ThemeEvents-Green .DetailEnrollDisplay a:link, .ThemeEvents-Green .DetailEnrollEmail, .ThemeEvents-Green .DetailEnrollEmail a:link, .ThemeEvents-Green .DetailEnrollPhone, .ThemeEvents-Green .DetailEnrollApproved, .ThemeEvents-Green .DetailEnrollNo, .ThemeEvents-Green .EditEnrollSelect, .ThemeEvents-Green .EditEnrollUser, .ThemeEvents-Green .EditEnrollDisplay, .ThemeEvents-Green .EditEnrollDisplay a:link, .ThemeEvents-Green .EditEnrollEmail, .ThemeEvents-Green .EditEnrollEmail a:link, .ThemeEvents-Green .EditEnrollPhone, .ThemeEvents-Green .EditEnrollApproved, .ThemeEvents-Green .EditEnrollNo, .ThemeEvents-Green .EditEnrollDate, .ThemeEvents-Green .EditEnrollDate .ThemeEvents-Green .EnrollSelect, .ThemeEvents-Green .EnrollApproved, .ThemeEvents-Green .EnrollNo, .ThemeEvents-Green .EnrollFee, .ThemeEvents-Green .EnrollDate {
    font-size: 12px;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: top;
    font-weight: normal;
}

.ThemeEvents-Green .ListDuration {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Green .ListDataGrid, .ThemeEvents-Green .DetailEnrollGrid, .ThemeEvents-Green .EditEnrollGrid, .ThemeEvents-Green .EnrollGrid {
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
    border-left: #339933 2px solid;
    border-bottom: #339933 2px solid;
    background-color: #e8eef7;
}

    .ThemeEvents-Green .ListDataGrid td, .ThemeEvents-Green .DetailEnrollGrid td, .ThemeEvents-Green .EditEnrollGrid td, .ThemeEvents-Green .EnrollGrid td {
        border-color: #339933;
        border-style: dotted;
        border-width: 1px;
    }

.ThemeEvents-Green .ListEdit {
    text-align: center;
    vertical-align: top;
    width: 1px;
}

.ThemeEvents-Green .EventNextPrev, .ThemeEvents-Green .EventNextPrev a:link, .ThemeEvents-Green .EventNextPrev a, .ThemeEvents-Green .EventNextPrev a:visited, .ThemeEvents-Green .EventNextPrev a:hover {
    font-size: 12px;
    color: #666666;
    padding: 0 0.5em;
}

.ThemeEvents-Green .EventWeekendDay, .ThemeEvents-Green .ListAlternate, .ThemeEvents-Green .DetailEnrollGridAlternate, .ThemeEvents-Green .EditEnrollGridAlternate, .ThemeEvents-Green .EnrollGridAlternate {
    background-color: #F5F5F5;
}

.ThemeEvents-Green .ListTitle, .ThemeEvents-Green .ListDescription, .ThemeEvents-Green .ListCustomField1, .ThemeEvents-Green .ListCustomField2, .ThemeEvents-Green .EnrollTitle {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .ListCategory, .ThemeEvents-Green .ListLocation, .ThemeEvents-Green .ListLocation a {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
    width: 60px;
}

.ThemeEvents-Green .RptTable {
    border-right: #339933 2px solid;
    border-top: #339933 1px solid;
    border-left: #339933 2px solid;
    border-bottom: #339933 2px solid;
    background-color: #e8eef7;
    border-collapse: collapse;
    width: 100%;
}

.ThemeEvents-Green .RptRepeater {
    width: 100%;
}

    .ThemeEvents-Green .RptRepeater td {
        border-color: #339933;
        border-style: dotted;
        border-width: 1px;
    }

.ThemeEvents-Green .RptHeader {
    font-size: 12px;
    font-weight: 700;
    background-color: #99FF66;
    font-family: verdana,helvetica,arial;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeEvents-Green .RptNormal {
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .RptAlternate {
    background-color: #F5F5F5;
    font-size: 10px;
    font-family: verdana,helvetica,arial;
    text-align: left;
    vertical-align: top;
}

.ThemeEvents-Green .RptPagerCurrentPage {
    color: Red;
}

.ThemeEvents-Green .RptPagerHeader td {
    border-color: #339933;
    border-style: dotted;
    border-width: 1px;
}

.ThemeEvents-Green .DetailReminderDiv, .ThemeEvents-Green .DetailiCalDiv,
.ThemeEvents-Green .DetailEnrollDiv, .ThemeEvents-Green .DetailEnrollTableDiv,
.ThemeEvents-Green .DetailCommands,
.ThemeEvents-Green .DetailEventDetailsDiv1,
.ThemeEvents-Green .DetailEventDetailsDiv2,
.ThemeEvents-Green .DetailEventDetailsDiv3,
.ThemeEvents-Green .DetailEventDetailsDiv4 {
    width: 90%;
    padding-left: 5px;
}

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailReminderRight,
.ThemeEvents-Green .DetailiCalLeft, .ThemeEvents-Green .DetailiCalRight,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailEnrollRight,
.ThemeEvents-Green .DetailContentLeft, .ThemeEvents-Green .DetailContentRight {
    text-align: left;
    float: left;
}

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailReminderRight,
.ThemeEvents-Green .DetailiCalLeft, .ThemeEvents-Green .DetailiCalRight,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailEnrollRight,
.ThemeEvents-Green .DetailEnrollTableLeft, .ThemeEvents-Green .DetailEnrollTableRight,
.ThemeEvents-Green .DetailContentLeft, .ThemeEvents-Green .DetailContentRight {
    padding: 5px 0 5px 0;
}

.ThemeEvents-Green .DetailReminderLeft, .ThemeEvents-Green .DetailiCalLeft,
.ThemeEvents-Green .DetailEnrollLeft, .ThemeEvents-Green .DetailContentLeft {
    width: 35%;
}

.ThemeEvents-Green .DetailClear {
    clear: both;
}

.ThemeEvents-Green .IconBar {
    white-space: nowrap;
}

    .ThemeEvents-Green .IconBar img, .ThemeEvents-Green .IconBar input {
        vertical-align: baseline;
    }

.ThemeEvents-Green .TopIconBar {
    width: 33%;
    vertical-align: top;
}

    .ThemeEvents-Green .TopIconBar DIV {
        float: right;
    }

.ThemeEvents-Green .BottomIconBar {
    padding-top: 3px;
}

.ThemeEvents-Green .IconBarPadding {
    padding-right: 2px;
}

.ThemeEvents-Green .EditEvents .TimePicker, .ThemeEvents-Green .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeEvents-Green .EditEvents .DatePicker {
    width: 150px !important;
}

.ThemeEvents-Green .EditEvents .cmdDatePicker {
    margin-top: 5px;
}

.ThemeEvents-Green .EvtHdrMdlCol .DatePicker {
    Display: inline-block;
}

.ThemeEvents-Green .EvtDateControls {
    margin-bottom: 5px;
}

.ThemeEvents-Green .RadPicker_Default .riTextBox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 20px
}

.ThemeEvents-Green .SelCategoryTR {
    height: 35px;
}

    .ThemeEvents-Green .SelCategoryTR div {
        vertical-align: middle;
    }

.ThemeEvents-Green .SelCategory span {
    font-weight: bold;
}

html body .ThemeEvents-Green .RadInput_Default .riTextBox.DateFormat,
.ThemeEvents-Green .RadComboBox_Default .rcbInput.CategoryFormat {
    font-size: 11px;
    font-family: verdana,helvetica,arial;
}

.ThemeEvents-Green .RadComboBox_Default.SelectCategory {
    width: 150px !important;
}

.ThemeEvents-Green ul.dnnActions li.cmdRight {
    float: right;
}

.ThemeEvents-Green .EventSettings .dnnFormItem INPUT[type='text'] {
    min-width: 1px;
}

.ThemeEvents-Green .dnnFormItem .autoWidth LABEL {
    width: auto;
}

.ThemeEvents-Green .dnnFormItem .inputCenter INPUT {
    float: none;
}

.ThemeEvents-Green .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeEvents-Green .EditEvents .dnnFormItem .evtRecWeekDays input {
    float: none;
    width: auto;
    display: inline;
}

.ThemeEvents-Green .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Green .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeEvents-Green .EditEvents .evtGridInput {
    float: none;
}

.ThemeEvents-Green .EditEvents .SubHead {
    font-size: inherit;
}

.ThemeEvents-Green .EditEvents .evtRadioTop .dnnRadiobutton {
    vertical-align: top;
}

.ThemeEvents-Green .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}
