/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeSmall .EvtHdrLftCol {
width:33%;
float:left;
min-height:1px;
}

.ThemeSmall .EvtHdrMdlCol {
width:34%;
float:left;
min-height:1px;
text-align:center;
}

.ThemeSmall .EvtHdrRgtCol {
width:33%;
float:left;
}

.ThemeSmall .Eventtooltipheader, .ThemeSmall .Eventtooltipbody {
width:300px;
z-index:99;
font-size:10px;
font-family:Arial;
padding:5px
}

.ThemeSmall .Eventtooltipheader {
border:#c3d9ff 1px solid;
background-color:#c3d9ff;
color:#00008B;
font-weight:700;
font-size:11px
}

.ThemeSmall .Eventtooltipbody {
border-left:#c3d9ff 1px solid;
border-right:#c3d9ff 1px solid;
border-bottom:#c3d9ff 1px solid;
background-color:#fff
}

.ThemeSmall .Eventtooltipbody hr {
width:100%;
color:#c3d9ff;
background-color:#c3d9ff;
height:1px;
border:0
}

.ThemeSmall .Event {
table-layout:auto;
font-size:9px;
color:#FFF;
font-family:Verdana;
text-align:center;
border:#e5dfdf 1px solid;
background-color:#EFE7E7;
height:50px;
width:50px
}

.ThemeSmall .EventTitle {
font-weight:700;
font-size:10px;
background-image:url(gradient_Small.jpg);
width:100%;
color:#000;
text-align:center;
height:32px
}

.ThemeSmall .EventTitle,.ThemeSmall .EventTitle td {
font-weight:700;
font-size:9px;
width:100%;
color:#000;
text-align:center;
background-image:url(gradient_Small.jpg);
height:32px
}

.ThemeSmall .EventDayHeader {
font-weight:700;
font-size:9px;
font-family:Verdana;
background-color:silver;
vertical-align:middle
}

.ThemeSmall .EventDay,.ThemeSmall .EventDay td {
font-size:9px;
width:14%;
color:#00f;
font-family:verdana;
height:14%
}

.ThemeSmall .EventDay a,.ThemeSmall .EventDay a:visited,.ThemeSmall .EventDay a:hover {
font-size:9px;
color:#00f;
font-family:Verdana
}

.ThemeSmall .EventDayEvents,.ThemeSmall .EventDayEvents td,.ThemeSmall .EventWeekendDayEvents,.ThemeSmall .EventWeekendDayEvents td  {
font-size:9px;
width:14%;
color:red;
font-family:Verdana;
height:14%
}

.ThemeSmall .EventDayEvents a,.ThemeSmall .EventDayEvents a:visited,.ThemeSmall .EventDayEvents a:hover, .ThemeSmall .EventWeekendDayEvents a,.ThemeSmall .EventWeekendDayEvents a:visited,.ThemeSmall .EventWeekendDayEvents a:hover  {
font-size:9px;
color:red;
font-family:Verdana
}

.ThemeSmall .EventWeekendDayEvents {
background-color: #f5f5f5;
}

.ThemeSmall .EventOtherMonthDay {
color:gray;
background-color:#DCDCDC
}

.ThemeSmall .EventOtherMonthDay a,.ThemeSmall .EventOtherMonthDay a:visited,.ThemeSmall .EventOtherMonthDay a:hover {
color:#8080c0
}

.ThemeSmall .EventTodayDay {
font-weight:700;
color:#00f;
background-color:#A9A9A9
}

.ThemeSmall .EventSelectedDay {
border:red 2px solid;
}

.ThemeSmall .EventSelectedDay, .ThemeSmall .EventSelectedDay a, .ThemeSmall .EventSelectedDay a:visited, .ThemeSmall .EventSelectedDay a:hover  {
font-size:9px
}

.ThemeSmall .EventSelector {
background-color:#c0c0e0
}

.ThemeSmall .EventSelector a,.ThemeSmall .EventSelector a:visited,.ThemeSmall .EventSelector a:hover {
color:#00f;
text-decoration:none
}

.ThemeSmall .WeekTable table {
table-layout:auto;
font-size:9px;
color:#000;
font-family:Verdana;
text-align:center;
border:#e5dfdf 1px solid
}

.ThemeSmall .WeekTable table td,.ThemeSmall .WeekTable table th {
border:0;
padding:0
}

.ThemeSmall .weekDay {
border:transparent 1px solid
}

.ThemeSmall .WeekItem {
text-align:center;
font-family:verdana,helvetica,arial;
font-size:9px;
background-color:#FFF;
font-weight:700;
border:transparent 1px solid
}

.ThemeSmall .WeekBackground {
font-family:verdana,helvetica,arial;
background-color:#DCDCDC;
font-size:9px;
border:transparent 1px solid
}

.ThemeSmall .WeekTitle {
font-family:verdana,helvetica,arial;
font-size:9px;
color:#000;
height:15%;
text-align:center;
background-image:url(gradient_Small.jpg);
border:transparent 1px solid
}

.ThemeSmall .WeekOfTitle {
font-weight:700;
font-size:10px;
width:100%;
color:#000;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:middle
}

.ThemeSmall .WeekNextPrev {
font-weight:700;
font-family:verdana,helvetica,arial;
font-size:10px;
width:100%;
color:#000;
text-align:center;
vertical-align:middle
}

.ThemeSmall .WeekRangeheader {
color:#000;
text-align:center;
vertical-align:middle;
font-family:verdana,helvetica,arial;
font-size:9px;
background-color:#E5DFDF;
border:none
}

.ThemeSmall .ListTable {
width:100%
}

.ThemeSmall .ListLink {
font-weight:700;
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:left;
vertical-align:top
}

.ThemeSmall .ListHeader, .ThemeSmall .DetailEnrollGridHeader, .ThemeSmall .EditEnrollGridHeader, .ThemeSmall .EnrollGridHeader {
font-weight:700;
font-size:9px;
background-image:url(gradient_Small.jpg);
color:#000;
font-family:verdana,helvetica,arial;
height:32px;
text-align:left;
vertical-align:middle
}

.ThemeSmall .DetailEnrollGridHeader, .ThemeSmall .EditEnrollGridHeader, .ThemeSmall .EnrollGridHeader {
text-align:center;
}

.ThemeSmall .DetailEnrollUser, .ThemeSmall .DetailEnrollDisplay,  .ThemeSmall .DetailEnrollDisplay a:link, .ThemeSmall .DetailEnrollEmail, .ThemeSmall .DetailEnrollEmail a:link, .ThemeSmall .DetailEnrollPhone, .ThemeSmall .DetailEnrollApproved, .ThemeSmall .DetailEnrollNo, .ThemeSmall .EditEnrollSelect, .ThemeSmall .EditEnrollUser, .ThemeSmall .EditEnrollDisplay,  .ThemeSmall .EditEnrollDisplay a:link, .ThemeSmall .EditEnrollEmail, .ThemeSmall .EditEnrollEmail a:link, .ThemeSmall .EditEnrollPhone, .ThemeSmall .EditEnrollApproved, .ThemeSmall .EditEnrollNo, .ThemeSmall .EditEnrollDate, .ThemeSmall .EditEnrollDate .ThemeSmall .EnrollSelect, .ThemeSmall .EnrollApproved, .ThemeSmall .EnrollNo, .ThemeSmall .EnrollFee, .ThemeSmall .EnrollDate  {
font-size:12px;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:top;
font-weight:normal;
}

.ThemeSmall .ListPager TD {
font-size:9px;
font-family:verdana,helvetica,arial
}

.ThemeSmall .ListDuration {
width:60px;
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:center;
vertical-align:top
}

.ThemeSmall .ListEdit {
width:10px;
text-align:center;
vertical-align:top
}

.ThemeSmall .EventNextPrev,.ThemeSmall .EventNextPrev a:link,.ThemeSmall .EventNextPrev a,.ThemeSmall .EventNextPrev a:visited,.ThemeSmall .EventNextPrev a:hover {
font-size:9px;
color:#000;
padding:0 0.5em
}

.ThemeSmall .EventWeekendDay,.ThemeSmall .ListAlternate, .ThemeSmall .DetailEnrollGridAlternate, .ThemeSmall .EditEnrollGridAlternate, .ThemeSmall .EnrollGridAlternate {
background-color:#F5F5F5
}

.ThemeSmall .ListDate,.ThemeSmall .ListTitle,.ThemeSmall .ListDescription,.ThemeSmall .ListCategory,.ThemeSmall .ListLocation,.ThemeSmall .ListLocation a,.ThemeSmall .ListCustomField1,.ThemeSmall .ListCustomField2, .ThemeSmall .ListRecurText, .ThemeSmall .ListRecurUntil, .ThemeSmall .EnrollTitle {
font-size:9px;
font-family:verdana,helvetica,arial;
text-align:left;
vertical-align:top
}

.ThemeSmall .ListDataGrid,.ThemeSmall .ListDataGrid td, .ThemeSmall .DetailEnrollGrid, .ThemeSmall .DetailEnrollGrid td, .ThemeSmall .EditEnrollGrid, .ThemeSmall .EditEnrollGrid td, .ThemeSmall .EnrollGrid, .ThemeSmall .EnrollGrid td{
border-style:none
}

.ThemeSmall .RptTable {
    border-style:none;
    border-collapse:collapse;
    width:100%;
}

.ThemeSmall .RptRepeater  {
    width:100%;
}

.ThemeSmall .RptRepeater td  {
    border-style:none;
}

.ThemeSmall .RptHeader {
    font-weight:700;
    font-size:9px;
    background-image:url(gradient_Small.jpg);
    font-family:verdana,helvetica,arial;
    height:32px;
    text-align:center;
    vertical-align:middle;
    width:100%;
}

.ThemeSmall .RptNormal {
    font-size:9px;
    font-family:verdana,helvetica,arial;
    text-align:left;
    vertical-align:top;
}

.ThemeSmall .RptAlternate {
    background-color:#F5F5F5;
    font-size:9px;
    font-family:verdana,helvetica,arial;
    text-align:left;
    vertical-align:top;
}

.ThemeSmall .RptPagerCurrentPage {
    color: Red;
}

.ThemeSmall .RptPagerHeader td {
    border-style:none;
}

.ThemeSmall .DetailReminderDiv, .ThemeSmall .DetailiCalDiv , 
.ThemeSmall .DetailEnrollDiv, .ThemeSmall .DetailEnrollTableDiv,
.ThemeSmall .DetailCommands,
.ThemeSmall .DetailEventDetailsDiv1,
.ThemeSmall .DetailEventDetailsDiv2,
.ThemeSmall .DetailEventDetailsDiv3,
.ThemeSmall .DetailEventDetailsDiv4  {
width:90%;
padding-left: 5px;
}

.ThemeSmall .DetailReminderLeft, .ThemeSmall .DetailReminderRight, 
.ThemeSmall .DetailiCalLeft, .ThemeSmall .DetailiCalRight,
.ThemeSmall .DetailEnrollLeft, .ThemeSmall .DetailEnrollRight,
.ThemeSmall .DetailContentLeft, .ThemeSmall .DetailContentRight {
text-align:left;
float:left;
}

.ThemeSmall .DetailReminderLeft, .ThemeSmall .DetailReminderRight, 
.ThemeSmall .DetailiCalLeft, .ThemeSmall .DetailiCalRight,
.ThemeSmall .DetailEnrollLeft, .ThemeSmall .DetailEnrollRight,
.ThemeSmall .DetailEnrollTableLeft, .ThemeSmall .DetailEnrollTableRight,
.ThemeSmall .DetailContentLeft, .ThemeSmall .DetailContentRight {
padding:5px 0 5px 0;
}

.ThemeSmall .DetailReminderLeft, .ThemeSmall .DetailiCalLeft, 
.ThemeSmall .DetailEnrollLeft, .ThemeSmall .DetailContentLeft {
width:35%;
}

.ThemeSmall .DetailClear {
clear:both;
}

.ThemeSmall .IconBar {
white-space:nowrap;
}

.ThemeSmall  .IconBar img, .ThemeSmall  .IconBar input{
	vertical-align:baseline;
}

.ThemeSmall .TopIconBar {
width:33%;
vertical-align:top;
}

.ThemeSmall .TopIconBar DIV {
float:right;
}

.ThemeSmall .BottomIconBar {
padding-top:3px;
}

.ThemeSmall .IconBarPadding  {
padding-right:2px;
}

.ThemeSmall .EditEvents .TimePicker, .ThemeSmall .EditEvents .DatePicker {
Display:inline !important;
float:left;
margin-bottom:10px;
}

.ThemeSmall .EditEvents .DatePicker {
width:150px !important;
}

.ThemeSmall .EditEvents .cmdDatePicker {
    margin-top: 5px;
}

.ThemeSmall .EvtHdrMdlCol .DatePicker {
Display:inline-block;
}

.ThemeSmall .EvtDateControls {
margin-bottom:5px;
}

.ThemeSmall .RadPicker_Default .riTextBox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 20px;
}

.ThemeSmall .SelCategoryTR {
height:35px;
}

.ThemeSmall  .SelCategoryTR div{
vertical-align:middle;
}

.ThemeSmall  .SelCategory span{
font-weight:bold;
}

html body .ThemeSmall .RadInput_Default .riTextBox.DateFormat,
.ThemeSmall .RadComboBox_Default .rcbInput.CategoryFormat {
font-size:11px;
font-family:verdana,helvetica,arial;
}

.ThemeSmall .RadComboBox_Default.SelectCategory {
width: 150px !important;
}

.ThemeSmall ul.dnnActions li.cmdRight {
float:right;
}

.ThemeSmall .EventSettings .dnnFormItem INPUT[type='text'] {
min-width:1px;
}

.ThemeSmall .dnnFormItem .autoWidth LABEL {
width:auto;
}

.ThemeSmall .dnnFormItem .inputCenter INPUT {
float:none;
}

.ThemeSmall .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeSmall .EditEvents .dnnFormItem .evtRecWeekDays input {
float:none;
width:auto;
display:inline;
}
.ThemeSmall .EditEvents .evtShortInputFloat {
float:none;
min-width:1%;
width:31px;
}

.ThemeSmall .EditEvents .evtShortInput {
min-width:1%;
width:31px;
}

.ThemeSmall .EditEvents .evtGridInput {
float:none;
}

.ThemeSmall .EditEvents .SubHead {
font-size:inherit;
}

.ThemeSmall .EditEvents .evtRadioTop .dnnRadiobutton {
vertical-align:top;
}

.ThemeSmall .EditEvents .dnnForm.dnnTextEditor {
float:left;
width:auto;
}