/* ================================
    CSS STYLES FOR DNN Event Module 
   ================================
*/
.ThemeDefault .EvtHdrLftCol {
    float: left;
    min-height: 1px;
    width: 33%;
}

.ThemeDefault .EvtHdrMdlCol {
    float: left;
    min-height: 1px;
    text-align: center;
    width: 34%;
}

.ThemeDefault .EvtHdrRgtCol {
    float: left;
    width: 33%;
}

.ThemeDefault .Eventtooltipheader, .ThemeDefault .Eventtooltipbody {
    font-family: Arial;
    font-size: 10px;
    padding: 5px;
    width: 300px;
    z-index: 99;
}

.ThemeDefault .Eventtooltipheader {
    background-color: #c3d9ff;
    border: #c3d9ff 1px solid;
    color: #00008B;
    font-size: 11px;
    font-weight: 700;
}

.ThemeDefault .Eventtooltipbody {
    background-color: #fff;
    border-bottom: #c3d9ff 1px solid;
    border-left: #c3d9ff 1px solid;
    border-right: #c3d9ff 1px solid;
}

.ThemeDefault .Eventtooltipbody hr {
    background-color: #c3d9ff;
    border: 0;
    color: #c3d9ff;
    height: 1px;
    width: 100%;
}

.ThemeDefault .Event {
    background-color: #EFE7E7;
    border: #e5dfdf 1px solid;
    color: #FFF;
    font-family: Verdana;
    font-size: 10px;
    height: 500px;
    line-height: 1.3em;
    table-layout: auto;
    text-align: center;
    white-space: normal;
    width: 95%;
}

.ThemeDefault .EventTitle {
    background-image: url(gradient_Default.jpg);
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    width: 100%;
}

.ThemeDefault .EventTitle, .ThemeDefault .EventTitle td {
    background-image: url(gradient_Default.jpg);
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    width: 100%;
}

.ThemeDefault .EventDayHeader {
    background-color: silver;
    font-family: Verdana;
    font-size: 10px;
    font-weight: 700;
    vertical-align: middle
}

.ThemeDefault .EventDay, .ThemeDefault .EventDayEvents, .ThemeDefault .EventWeekendDayEvents, .ThemeDefault .EventDay td {
    color: #00f;
    font-family: Verdana;
    font-size: 10px;
    height: 14%;
    width: 14%;
}

.ThemeDefault .EventDay a, .ThemeDefault .EventDay a:visited, .ThemeDefault .EventDay a:hover {
    color: #00f;
    font-family: Verdana;
    font-size: 10px;
}

.ThemeDefault .EventDayEvents a, .ThemeDefault .EventDayEvents a:visited, .ThemeDefault .EventDayEvents a:hover, .ThemeDefault .EventWeekendDayEvents a, .ThemeDefault .EventWeekendDayEvents a:visited, .ThemeDefault .EventWeekendDayEvents a:hover {
    color: red;
    font-family: Verdana;
    font-size: 10px;
}

.ThemeDefault .EventWeekendDayEvents { background-color: #f5f5f5; }

.ThemeDefault .EventDayScroll div { margin-bottom: 0.6em }

.ThemeDefault .EventOtherMonthDay {
    background-color: #DCDCDC;
    color: gray;
}

.ThemeDefault .EventOtherMonthDay a, .ThemeDefault .EventOtherMonthDay a:visited, .ThemeDefault .EventOtherMonthDay a:hover { color: #8080c0 }

.ThemeDefault .EventTodayDay {
    background-color: #A9A9A9;
    color: #00f;
    font-weight: 700;
}

.ThemeDefault .EventSelectedDay { border: red 2px solid; }

.ThemeDefault .EventSelectedDay, .ThemeDefault .EventSelectedDay a, .ThemeDefault .EventSelectedDay a:visited, .ThemeDefault .EventSelectedDay a:hover { font-size: 10px }

.ThemeDefault .EventSelector { background-color: #c0c0e0 }

.ThemeDefault .EventSelector a, .ThemeDefault .EventSelector a:visited, .ThemeDefault .EventSelector a:hover {
    color: #00f;
    text-decoration: none
}

.ThemeDefault .WeekTable table {
    border: #e5dfdf 1px solid;
    color: #000;
    font-family: Verdana;
    font-size: 10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    table-layout: auto;
    text-align: center;
}

.ThemeDefault .WeekTable table td, .ThemeDefault .WeekTable table th {
    border: 0;
    padding: 0 2px
}

.ThemeDefault .WeekItem {
    background-color: #ecf2ff;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
}

.ThemeDefault .WeekBackground {
    background-color: #DCDCDC;
    border: transparent 1px solid;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeDefault .WeekTitle {
    background-image: url(gradient_Default.jpg);
    border: transparent 1px solid;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    height: 15%;
    text-align: center;
    width: 11%;
}

.ThemeDefault .WeekOfTitle {
    color: navy;
    font-family: verdana, helvetica, arial;
    font-size: 11px;
    font-weight: 700;
    line-height: 3.5em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeDefault .WeekNextPrev {
    color: navy;
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeDefault .WeekRangeheader {
    background-color: #E5DFDF;
    border: none;
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
}

.ThemeDefault .ListTable { width: 100% }

.ThemeDefault .ListLink {
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    vertical-align: top
}

.ThemeDefault .ListHeader, .ThemeDefault .DetailEnrollGridHeader, .ThemeDefault .EditEnrollGridHeader, .ThemeDefault .EnrollGridHeader {
    background-image: url(gradient_Default.jpg);
    color: #000;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    height: 32px;
    text-align: left;
    vertical-align: middle
}

.ThemeDefault .DetailEnrollGridHeader, .ThemeDefault .EditEnrollGridHeader, .ThemeDefault .EnrollGridHeader { text-align: center; }

.ThemeDefault .DetailEnrollUser, .ThemeDefault .DetailEnrollDisplay, .ThemeDefault .DetailEnrollDisplay a:link, .ThemeDefault .DetailEnrollEmail, .ThemeDefault .DetailEnrollEmail a:link, .ThemeDefault .DetailEnrollPhone, .ThemeDefault .DetailEnrollApproved, .ThemeDefault .DetailEnrollNo, .ThemeDefault .EditEnrollSelect, .ThemeDefault .EditEnrollUser, .ThemeDefault .EditEnrollDisplay, .ThemeDefault .EditEnrollDisplay a:link, .ThemeDefault .EditEnrollEmail, .ThemeDefault .EditEnrollEmail a:link, .ThemeDefault .EditEnrollPhone, .ThemeDefault .EditEnrollApproved, .ThemeDefault .EditEnrollNo, .ThemeDefault .EditEnrollDate, .ThemeDefault .EditEnrollDate .ThemeDefault .EnrollSelect, .ThemeDefault .EnrollApproved, .ThemeDefault .EnrollNo, .ThemeDefault .EnrollFee, .ThemeDefault .EnrollDate {
    font-family: verdana, helvetica, arial;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}

.ThemeDefault .ListPager TD {
    font-family: verdana, helvetica, arial;
    font-size: 9px;
}

.ThemeDefault .ListDuration {
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}

.ThemeDefault .ListDataGrid, .ThemeDefault .DetailEnrollGrid, .ThemeDefault .EditEnrollGrid, .ThemeDefault .EnrollGrid { border-style: none }

.ThemeDefault .ListEdit {
    text-align: center;
    vertical-align: top;
    width: 10px;
}

.ThemeDefault .EventNextPrev, .ThemeDefault .EventNextPrev a:link, .ThemeDefault .EventNextPrev a, .ThemeDefault .EventNextPrev a:visited, .ThemeDefault .EventNextPrev a:hover {
    color: #000;
    font-size: 10px;
    padding: 0 0.5em
}

.ThemeDefault .EventWeekendDay, .ThemeDefault .ListAlternate, .ThemeDefault .DetailEnrollGridAlternate, .ThemeDefault .EditEnrollGridAlternate, .ThemeDefault .EnrollGridAlternate { background-color: #F5F5F5 }

.ThemeDefault .ListDate, .ThemeDefault .ListTitle, .ThemeDefault .ListDescription, .ThemeDefault .ListCategory, .ThemeDefault .ListLocation, .ThemeDefault .ListLocation a, .ThemeDefault .ListCustomField1, .ThemeDefault .ListCustomField2, .ThemeDefault .ListRecurText, .ThemeDefault .ListRecurUntil, .ThemeDefault .EnrollTitle {
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top
}

.ThemeDefault .RptTable {
    border-collapse: collapse;
    border-style: none;
    width: 100%;
}

.ThemeDefault .RptRepeater { width: 100%; }

.ThemeDefault .RptRepeater td { border-style: none; }

.ThemeDefault .RptHeader {
    background-image: url(gradient_Default.jpg);
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    font-weight: 700;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.ThemeDefault .RptNormal {
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeDefault .RptAlternate {
    background-color: #F5F5F5;
    font-family: verdana, helvetica, arial;
    font-size: 9px;
    text-align: left;
    vertical-align: top;
}

.ThemeDefault .RptPagerCurrentPage { color: Red; }

.ThemeDefault .RptPagerHeader td { border-style: none; }

.ThemeDefault .DetailReminderDiv, .ThemeDefault .DetailiCalDiv,
.ThemeDefault .DetailEnrollDiv, .ThemeDefault .DetailEnrollTableDiv,
.ThemeDefault .DetailCommands,
.ThemeDefault .DetailEventDetailsDiv1,
.ThemeDefault .DetailEventDetailsDiv2,
.ThemeDefault .DetailEventDetailsDiv3,
.ThemeDefault .DetailEventDetailsDiv4 {
    padding-left: 5px;
    width: 90%;
}

.ThemeDefault .DetailReminderLeft, .ThemeDefault .DetailReminderRight,
.ThemeDefault .DetailiCalLeft, .ThemeDefault .DetailiCalRight,
.ThemeDefault .DetailEnrollLeft, .ThemeDefault .DetailEnrollRight,
.ThemeDefault .DetailContentLeft, .ThemeDefault .DetailContentRight {
    float: left;
    text-align: left;
}

.ThemeDefault .DetailReminderLeft, .ThemeDefault .DetailReminderRight,
.ThemeDefault .DetailiCalLeft, .ThemeDefault .DetailiCalRight,
.ThemeDefault .DetailEnrollLeft, .ThemeDefault .DetailEnrollRight,
.ThemeDefault .DetailEnrollTableLeft, .ThemeDefault .DetailEnrollTableRight,
.ThemeDefault .DetailContentLeft, .ThemeDefault .DetailContentRight { padding: 5px 0 5px 0; }

.ThemeDefault .DetailReminderLeft, .ThemeDefault .DetailiCalLeft,
.ThemeDefault .DetailEnrollLeft, .ThemeDefault .DetailContentLeft { width: 35%; }

.ThemeDefault .DetailClear { clear: both; }

.ThemeDefault .IconBar { white-space: nowrap; }

.ThemeDefault .IconBar img, .ThemeDefault .IconBar input { vertical-align: baseline; }

.ThemeDefault .TopIconBar {
    vertical-align: top;
    width: 33%;
}

.ThemeDefault .TopIconBar DIV { float: right; }

.ThemeDefault .BottomIconBar { padding-top: 3px; }

.ThemeDefault .IconBarPadding { padding-right: 2px; }

.ThemeDefault .EditEvents .TimePicker, .ThemeDefault .EditEvents .DatePicker {
    Display: inline !important;
    float: left;
    margin-bottom: 10px;
}

.ThemeDefault .EditEvents .DatePicker { width: 150px !important; }

.ThemeDefault .EditEvents .cmdDatePicker { margin-top: 5px; }

.ThemeDefault .EvtHdrMdlCol .DatePicker { Display: inline-block; }

.ThemeDefault .EvtDateControls { margin-bottom: 5px; }

.ThemeDefault .RadPicker_Default .riTextBox {
    height: 20px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ThemeDefault .SelCategoryTR { height: 35px; }

.ThemeDefault .SelCategoryTR div { vertical-align: middle; }

.ThemeDefault .SelCategory span { font-weight: bold; }

html body .ThemeDefault .RadInput_Default .riTextBox.DateFormat,
.ThemeDefault .RadComboBox_Default .rcbInput.CategoryFormat {
    font-family: verdana, helvetica, arial;
    font-size: 11px;
}

.ThemeDefault .RadComboBox_Default.SelectCategory { width: 150px !important; }

.ThemeDefault ul.dnnActions li.cmdRight { float: right; }

.ThemeDefault .EventSettings .dnnFormItem INPUT[type='text'] { min-width: 1px; }

.ThemeDefault .dnnFormItem .autoWidth LABEL { width: auto; }

.ThemeDefault .dnnFormItem .inputCenter INPUT { float: none; }

.ThemeDefault .EditEvents .dnnFormItem .evtRecWeekDays label, .ThemeDefault .EditEvents .dnnFormItem .evtRecWeekDays input {
    display: inline;
    float: none;
    width: auto;
}

.ThemeDefault .EditEvents .evtShortInputFloat {
    float: none;
    min-width: 1%;
    width: 31px;
}

.ThemeDefault .EditEvents .evtShortInput {
    min-width: 1%;
    width: 31px;
}

.ThemeDefault .EditEvents .evtGridInput { float: none; }

.ThemeDefault .EditEvents .SubHead { font-size: inherit; }

.ThemeDefault .EditEvents .evtRadioTop .dnnRadiobutton { vertical-align: top; }

.ThemeDefault .EditEvents .dnnForm.dnnTextEditor {
    float: left;
    width: auto;
}